@import "bootstrap/bootstrap";
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css";
@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";

.page-template-caucion-home {
  background-color: #383a98 !important;
  .content, .wrapper_inner {
    background-color: #383a98 !important;
  }
  #contenido {
    text-align: center;
    h1,h2,p{
      color:#fff;
    }
  }
}
hr{
  margin: 20px 0px 20px 0px;
}
.st{
  margin-left: -4px !important;
}
.mar {
  margin-left: 13%;
  @include media-breakpoint-down(md){
    margin-left: 0;
  }
}

#step-3{
  h3{
    padding-top: 10px !important;
  }
}
#contenido{
  .container{
    background: none;
  }
}
.cinta{
  padding-left: 20px;
  text-align: center;
  @include media-breakpoint-up(lg){
    padding-left: 0px;
    padding-top: 20px;
    text-align: left;
  }
}
.pad{
  padding: 30px 40px 50px 50px;
  overflow: hidden;
  min-height: 440px;
  @include media-breakpoint-down(xs){
    padding: 30px 40px 50px 30px;
    margin-top: 30px;
  }
  @include media-breakpoint-down(md){
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  @include media-breakpoint-down(lg){
    margin-top: 30px;
  }
}
#reset {
  padding: 0;
  background: none;
  color: gray;
  border: 0;
}
.fondo { 
  background-image: url("https://www.foms.com.ar/wp-content/uploads/2018/02/Home1-Overlay.jpg?id=21750");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include media-breakpoint-down(xs){
    background-image: none;
  }
}
.fondo-sub { 
  background-image: url("http://www.foms.com.ar/wp-content/uploads/2019/01/header-garantia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include media-breakpoint-down(xs){
    background-image: none;
  }
}
.head{
  height: 200px;
  margin-top: 80px;
  @include media-breakpoint-down(xs){
        text-align: center;
        height: 250px;
        margin-top: 0;
  }
}

.boton{
    width: 100%;
    padding: 0px 0px 20px 0px;
    color: #fff !important;
    :hover{
      color: #e6ae48 !important;
    }
}
/*.pos{
    max-width: 400px;
    margin: 0 auto;
}*/

.rel{
  position: relative;
}
.page-template-caucion-home {
  position: relative;
    
  }
.icons{
  text-align: center;
  margin-bottom: 20px;
  margin-top: -30px;
  background-color: white;
  padding: 20px;
  color: #383a98;
}
.page-template-caucion-form {
  #contenido {
      position: relative;
      color: #383A98;
      overflow: hidden;
      min-height: 800px;
      //height: 500px;
      padding-top: 30px;
      padding-bottom: 30px;
      @include media-breakpoint-up(lg){
        padding-top: 60px;
        padding-bottom: 60px;
      }
      height: 100%;
      margin-top: 30px;
      h1{
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 0.5rem;
      }
      h2{
        color: #383A98;
      }
      p{
        color: #5d5d5d;
      }
    }
    #icon-container {
      padding: 30px 0;
      color: #383a98;
      font-size: 20px;
      font-weight: 500;
      p{
        margin-top: 15px;
      }
    }
  fieldset {
    position: absolute;
    z-index: 0;
    left: 0px;
    right: 0px;
    width: 98%;
    &.active {
      position: relative;
      z-index: 1;
      left: 0px;
      right: 0px;
    }
  }
  .hideError {
    display: none;
  }
  .showError {
    display: block;
  }
  .animated {
    opacity: 0;
  }
  #contenido {
    padding-top: 30px;
    padding-bottom: 30px;
    @include media-breakpoint-up(lg){
      padding-top: 60px;
      padding-bottom: 60px;
    }
    label {
      text-align: left;
      color: #666;
      width: 100% !important;
      max-width: 360px;
      font-size: 15px;
      margin-bottom: 5px;
    }
    h5{
      font-size: 18px;
      color: #9B9B9B;
      margin-bottom: 15px;
    }
    h1{
      color: #383a98;
      font-size: 35px;
      margin-bottom: 0px;
      text-transform: inherit;
      letter-spacing: 0px;
    }
    h3{
      font-style: normal;
    }
    h2{
      letter-spacing: 0px;
    }
    p.lead{
      font-size: 20px;
      color: #9B9B9B;
      margin-bottom: 30px;
      line-height: 30px;
    }
    .form-control {
      max-width: 360px;
      padding: 0.1rem 1rem;
      line-height: 2.2rem;
    }
    select.form-control {
      max-width: 360px;
      padding: 0.1rem 1rem;
      line-height: 2.2rem;
      height: 40px;
    }
  }
}
.page-template-caucion-form-subsidio {
  #contenido {
      position: relative;
      color: #383A98;
      overflow: hidden;
      min-height: 800px;
      //height: 500px;
      padding-top: 30px;
      padding-bottom: 30px;
      @include media-breakpoint-up(lg){
        padding-top: 60px;
        padding-bottom: 60px;
      }
      height: 100%;
      margin-top: 30px;
      h1{
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 0.5rem;
      }
      h2{
        color: #383A98;
      }
      p{
        color: #5d5d5d;
      }
    }
    #icon-container {
      padding: 30px 0;
      color: #383a98;
      font-size: 20px;
      font-weight: 500;
      p{
        margin-top: 15px;
      }
    }
  fieldset {
    position: absolute;
    z-index: 0;
    left: 0px;
    right: 0px;
    width: 98%;
    &.active {
      position: relative;
      z-index: 1;
      left: 0px;
      right: 0px;
    }
  }
  .hideError {
    display: none;
  }
  .showError {
    display: block;
  }
  .animated {
    opacity: 0;
  }
  #contenido {
    padding-top: 30px;
    padding-bottom: 30px;
    @include media-breakpoint-up(lg){
      padding-top: 60px;
      padding-bottom: 60px;
    }
    label {
      text-align: left;
      color: #666;
      width: 100% !important;
      max-width: 360px;
      font-size: 15px;
      margin-bottom: 5px;
    }
    h5{
      font-size: 18px;
      color: #9B9B9B;
      margin-bottom: 15px;
    }
    h1{
      color: #383a98;
      font-size: 35px;
      margin-bottom: 0px;
      text-transform: inherit;
      letter-spacing: 0px;
    }
    h3{
      font-style: normal;
    }
    h2{
      letter-spacing: 0px;
    }
    p.lead{
      font-size: 20px;
      color: #9B9B9B;
      margin-bottom: 30px;
      line-height: 30px;
    }
    .form-control {
      max-width: 360px;
      padding: 0.1rem 1rem;
      line-height: 2.2rem;
    }
    select.form-control {
      max-width: 360px;
      padding: 0.1rem 1rem;
      line-height: 2.2rem;
      height: 40px;
    }
  }
}
.page-template-caucion-form-infobae {
  #contenido {
      position: relative;
      color: #383A98;
      overflow: hidden;
      min-height: 800px;
      //height: 500px;
      padding-top: 30px;
      padding-bottom: 30px;
      @include media-breakpoint-up(lg){
        padding-top: 60px;
        padding-bottom: 60px;
      }
      height: 100%;
      margin-top: 30px;
      h1{
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 0.5rem;
      }
      h2{
        color: #383A98;
      }
      p{
        color: #5d5d5d;
      }
    }
    #icon-container {
      padding: 30px 0;
      color: #383a98;
      font-size: 20px;
      font-weight: 500;
      p{
        margin-top: 15px;
      }
    }
  fieldset {
    position: absolute;
    z-index: 0;
    left: 0px;
    right: 0px;
    width: 98%;
    &.active {
      position: relative;
      z-index: 1;
      left: 0px;
      right: 0px;
    }
  }
  .hideError {
    display: none;
  }
  .showError {
    display: block;
  }
  .animated {
    opacity: 0;
  }
  #contenido {
    padding-top: 30px;
    padding-bottom: 30px;
    @include media-breakpoint-up(lg){
      padding-top: 60px;
      padding-bottom: 60px;
    }
    label {
      text-align: left;
      color: #666;
      width: 100% !important;
      max-width: 360px;
      font-size: 15px;
      margin-bottom: 5px;
    }
    h5{
      font-size: 18px;
      color: #9B9B9B;
      margin-bottom: 15px;
    }
    h1{
      color: #383a98;
      font-size: 35px;
      margin-bottom: 0.5rem;
      text-transform: inherit;
      letter-spacing: 0px;
    }
    h3{
      font-style: normal;
    }
    h2{
      letter-spacing: 0px;
    }
    p.lead{
      font-size: 20px;
      color: #9B9B9B;
      margin-bottom: 30px;
      line-height: 30px;
    }
    .form-control {
      max-width: 360px;
      padding: 0.1rem 1rem;
      line-height: 2.2rem;
    }
    select.form-control {
      max-width: 360px;
      padding: 0.1rem 1rem;
      line-height: 2.2rem;
      height: 40px;
    }
  }
}
.bg-primary {
  background: #383a98;
}
.counter {
  margin-bottom: 30px;
  .counter-step {
    display: inline-block;
  }
  .number {
    width: 25px;
    height: 25px;
    font-size: 16px;
    padding-top: 2px;
    color: #fff;
    text-align: center;
    background: #9B9B9B;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
  }
  .line{
    width: 100px;
    height: 2px;
    display: inline-block;
    margin-bottom: 6px;
    margin-right: -3px;
    background:#9B9B9B;
  }
  .active {
    .number {
      background: #383a98;
    }
    .line {
      background: #383a98;
    }
  }
}
/// Loader
.lds-roller {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  padding: 40%;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #383a98;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}