/*!
 * Bootstrap v4.0.0-beta.3 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css";
@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";
:root {
  --blue: #383a98;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #dc3545;
  --red: #dc3545;
  --orange: #F57C00;
  --yellow: #FFA000;
  --green: #39A849;
  --teal: #20c997;
  --cyan: #4FC3F7;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #383a98;
  --secondary: #868e96;
  --success: #39A849;
  --info: #383a98;
  --warning: #FFA000;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport {
  width: device-width; }
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #0B2F52;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #383a98;
    text-decoration: none; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%; }

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%; }

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%; }

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.3333333333%; }

.offset-2 {
  margin-left: 16.6666666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.3333333333%; }

.offset-5 {
  margin-left: 41.6666666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.3333333333%; }

.offset-8 {
  margin-left: 66.6666666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.3333333333%; }

.offset-11 {
  margin-left: 91.6666666667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-sm-first {
    order: -1; }

  .order-sm-1 {
    order: 1; }

  .order-sm-2 {
    order: 2; }

  .order-sm-3 {
    order: 3; }

  .order-sm-4 {
    order: 4; }

  .order-sm-5 {
    order: 5; }

  .order-sm-6 {
    order: 6; }

  .order-sm-7 {
    order: 7; }

  .order-sm-8 {
    order: 8; }

  .order-sm-9 {
    order: 9; }

  .order-sm-10 {
    order: 10; }

  .order-sm-11 {
    order: 11; }

  .order-sm-12 {
    order: 12; }

  .offset-sm-0 {
    margin-left: 0; }

  .offset-sm-1 {
    margin-left: 8.3333333333%; }

  .offset-sm-2 {
    margin-left: 16.6666666667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .offset-sm-4 {
    margin-left: 33.3333333333%; }

  .offset-sm-5 {
    margin-left: 41.6666666667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .offset-sm-7 {
    margin-left: 58.3333333333%; }

  .offset-sm-8 {
    margin-left: 66.6666666667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .offset-sm-10 {
    margin-left: 83.3333333333%; }

  .offset-sm-11 {
    margin-left: 91.6666666667%; } }
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-md-first {
    order: -1; }

  .order-md-1 {
    order: 1; }

  .order-md-2 {
    order: 2; }

  .order-md-3 {
    order: 3; }

  .order-md-4 {
    order: 4; }

  .order-md-5 {
    order: 5; }

  .order-md-6 {
    order: 6; }

  .order-md-7 {
    order: 7; }

  .order-md-8 {
    order: 8; }

  .order-md-9 {
    order: 9; }

  .order-md-10 {
    order: 10; }

  .order-md-11 {
    order: 11; }

  .order-md-12 {
    order: 12; }

  .offset-md-0 {
    margin-left: 0; }

  .offset-md-1 {
    margin-left: 8.3333333333%; }

  .offset-md-2 {
    margin-left: 16.6666666667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .offset-md-4 {
    margin-left: 33.3333333333%; }

  .offset-md-5 {
    margin-left: 41.6666666667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .offset-md-7 {
    margin-left: 58.3333333333%; }

  .offset-md-8 {
    margin-left: 66.6666666667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .offset-md-10 {
    margin-left: 83.3333333333%; }

  .offset-md-11 {
    margin-left: 91.6666666667%; } }
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-lg-first {
    order: -1; }

  .order-lg-1 {
    order: 1; }

  .order-lg-2 {
    order: 2; }

  .order-lg-3 {
    order: 3; }

  .order-lg-4 {
    order: 4; }

  .order-lg-5 {
    order: 5; }

  .order-lg-6 {
    order: 6; }

  .order-lg-7 {
    order: 7; }

  .order-lg-8 {
    order: 8; }

  .order-lg-9 {
    order: 9; }

  .order-lg-10 {
    order: 10; }

  .order-lg-11 {
    order: 11; }

  .order-lg-12 {
    order: 12; }

  .offset-lg-0 {
    margin-left: 0; }

  .offset-lg-1 {
    margin-left: 8.3333333333%; }

  .offset-lg-2 {
    margin-left: 16.6666666667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .offset-lg-4 {
    margin-left: 33.3333333333%; }

  .offset-lg-5 {
    margin-left: 41.6666666667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .offset-lg-7 {
    margin-left: 58.3333333333%; }

  .offset-lg-8 {
    margin-left: 66.6666666667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .offset-lg-10 {
    margin-left: 83.3333333333%; }

  .offset-lg-11 {
    margin-left: 91.6666666667%; } }
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-xl-first {
    order: -1; }

  .order-xl-1 {
    order: 1; }

  .order-xl-2 {
    order: 2; }

  .order-xl-3 {
    order: 3; }

  .order-xl-4 {
    order: 4; }

  .order-xl-5 {
    order: 5; }

  .order-xl-6 {
    order: 6; }

  .order-xl-7 {
    order: 7; }

  .order-xl-8 {
    order: 8; }

  .order-xl-9 {
    order: 9; }

  .order-xl-10 {
    order: 10; }

  .order-xl-11 {
    order: 11; }

  .order-xl-12 {
    order: 12; }

  .offset-xl-0 {
    margin-left: 0; }

  .offset-xl-1 {
    margin-left: 8.3333333333%; }

  .offset-xl-2 {
    margin-left: 16.6666666667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .offset-xl-4 {
    margin-left: 33.3333333333%; }

  .offset-xl-5 {
    margin-left: 41.6666666667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .offset-xl-7 {
    margin-left: 58.3333333333%; }

  .offset-xl-8 {
    margin-left: 66.6666666667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .offset-xl-10 {
    margin-left: 83.3333333333%; }

  .offset-xl-11 {
    margin-left: 91.6666666667%; } }
.form-control {
  display: block;
  width: 100%;
  padding: 0.3rem 2rem;
  font-size: 1rem;
  line-height: 2.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #7f81d0;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #fff; }
  .form-control::placeholder {
    color: #868e96;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1; }

select.form-control:not([size]):not([multiple]) {
  height: calc(3.1rem + 2px); }
select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff; }

.form-control-file,
.form-control-range {
  display: block;
  width: 100%; }

.col-form-label {
  padding-top: calc(0.3rem + 1px);
  padding-bottom: calc(0.3rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 2.5; }

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
  line-height: 1.5; }

.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
  line-height: 1.5; }

.form-control-plaintext {
  display: block;
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0;
  line-height: 2.5;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0; }
  .form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
    padding-right: 0;
    padding-left: 0; }

.form-control-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 1rem; }

select.form-control-sm:not([size]):not([multiple]) {
  height: calc(1.8125rem + 2px); }

.form-control-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 3rem; }

select.form-control-lg:not([size]):not([multiple]) {
  height: calc(2.875rem + 2px); }

.form-group {
  margin-bottom: 1rem; }

.form-text {
  display: block;
  margin-top: 0.25rem; }

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px; }
  .form-row > .col,
  .form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px; }

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem; }

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem; }
  .form-check-input:disabled ~ .form-check-label {
    color: #868e96; }

.form-check-label {
  margin-bottom: 0; }

.form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem; }
  .form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0; }

.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #39A849; }

.valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  width: 250px;
  padding: .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1;
  color: #fff;
  background-color: rgba(57, 168, 73, 0.8);
  border-radius: .2rem; }

.was-validated .form-control:valid, .form-control.is-valid,
.was-validated .custom-select:valid,
.custom-select.is-valid {
  border-color: #39A849; }
  .was-validated .form-control:valid:focus, .form-control.is-valid:focus,
  .was-validated .custom-select:valid:focus,
  .custom-select.is-valid:focus {
    border-color: #39A849;
    box-shadow: 0 0 0 0.2rem rgba(57, 168, 73, 0.25); }
  .was-validated .form-control:valid ~ .valid-feedback,
  .was-validated .form-control:valid ~ .valid-tooltip, .form-control.is-valid ~ .valid-feedback,
  .form-control.is-valid ~ .valid-tooltip,
  .was-validated .custom-select:valid ~ .valid-feedback,
  .was-validated .custom-select:valid ~ .valid-tooltip,
  .custom-select.is-valid ~ .valid-feedback,
  .custom-select.is-valid ~ .valid-tooltip {
    display: block; }

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: #39A849; }

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
  color: #39A849; }
  .was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
    background-color: #89d795; }
.was-validated .custom-control-input:valid ~ .valid-feedback,
.was-validated .custom-control-input:valid ~ .valid-tooltip, .custom-control-input.is-valid ~ .valid-feedback,
.custom-control-input.is-valid ~ .valid-tooltip {
  display: block; }
.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
  background-color: #50c461; }
.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before, .custom-control-input.is-valid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(57, 168, 73, 0.25); }

.was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label {
  border-color: #39A849; }
  .was-validated .custom-file-input:valid ~ .custom-file-label::before, .custom-file-input.is-valid ~ .custom-file-label::before {
    border-color: inherit; }
.was-validated .custom-file-input:valid ~ .valid-feedback,
.was-validated .custom-file-input:valid ~ .valid-tooltip, .custom-file-input.is-valid ~ .valid-feedback,
.custom-file-input.is-valid ~ .valid-tooltip {
  display: block; }
.was-validated .custom-file-input:valid:focus ~ .custom-file-label, .custom-file-input.is-valid:focus ~ .custom-file-label {
  box-shadow: 0 0 0 0.2rem rgba(57, 168, 73, 0.25); }

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545; }

.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  width: 250px;
  padding: .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.8);
  border-radius: .2rem; }

.was-validated .form-control:invalid, .form-control.is-invalid,
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  border-color: #dc3545; }
  .was-validated .form-control:invalid:focus, .form-control.is-invalid:focus,
  .was-validated .custom-select:invalid:focus,
  .custom-select.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }
  .was-validated .form-control:invalid ~ .invalid-feedback,
  .was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback,
  .form-control.is-invalid ~ .invalid-tooltip,
  .was-validated .custom-select:invalid ~ .invalid-feedback,
  .was-validated .custom-select:invalid ~ .invalid-tooltip,
  .custom-select.is-invalid ~ .invalid-feedback,
  .custom-select.is-invalid ~ .invalid-tooltip {
    display: block; }

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #dc3545; }

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
  color: #dc3545; }
  .was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
    background-color: #efa2a9; }
.was-validated .custom-control-input:invalid ~ .invalid-feedback,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.is-invalid ~ .invalid-feedback,
.custom-control-input.is-invalid ~ .invalid-tooltip {
  display: block; }
.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.is-invalid:checked ~ .custom-control-label::before {
  background-color: #e4606d; }
.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label {
  border-color: #dc3545; }
  .was-validated .custom-file-input:invalid ~ .custom-file-label::before, .custom-file-input.is-invalid ~ .custom-file-label::before {
    border-color: inherit; }
.was-validated .custom-file-input:invalid ~ .invalid-feedback,
.was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.is-invalid ~ .invalid-feedback,
.custom-file-input.is-invalid ~ .invalid-tooltip {
  display: block; }
.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.is-invalid:focus ~ .custom-file-label {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }
  .form-inline .form-check {
    width: 100%; }
  @media (min-width: 576px) {
    .form-inline label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0; }
    .form-inline .form-group {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0; }
    .form-inline .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle; }
    .form-inline .form-control-plaintext {
      display: inline-block; }
    .form-inline .input-group {
      width: auto; }
    .form-inline .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding-left: 0; }
    .form-inline .form-check-input {
      position: relative;
      margin-top: 0;
      margin-right: 0.25rem;
      margin-left: 0; }
    .form-inline .custom-control {
      align-items: center;
      justify-content: center; }
    .form-inline .custom-control-label {
      margin-bottom: 0; } }

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem; }

.alert-heading {
  color: inherit; }

.alert-link {
  font-weight: 700; }

.alert-dismissible {
  padding-right: 4rem; }
  .alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit; }

.alert-primary {
  color: #1d1e4f;
  background-color: #d7d8ea;
  border-color: #c7c8e2; }
  .alert-primary hr {
    border-top-color: #b6b8d9; }
  .alert-primary .alert-link {
    color: #0f102a; }

.alert-secondary {
  color: #464a4e;
  background-color: #e7e8ea;
  border-color: #dddfe2; }
  .alert-secondary hr {
    border-top-color: #cfd2d6; }
  .alert-secondary .alert-link {
    color: #2e3133; }

.alert-success {
  color: #1e5726;
  background-color: #d7eedb;
  border-color: #c8e7cc; }
  .alert-success hr {
    border-top-color: #b6dfbc; }
  .alert-success .alert-link {
    color: #113115; }

.alert-info {
  color: #1d1e4f;
  background-color: #d7d8ea;
  border-color: #c7c8e2; }
  .alert-info hr {
    border-top-color: #b6b8d9; }
  .alert-info .alert-link {
    color: #0f102a; }

.alert-warning {
  color: #855300;
  background-color: #ffeccc;
  border-color: #ffe4b8; }
  .alert-warning hr {
    border-top-color: #ffda9f; }
  .alert-warning .alert-link {
    color: #523300; }

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb; }
  .alert-danger hr {
    border-top-color: #f1b0b7; }
  .alert-danger .alert-link {
    color: #491217; }

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe; }
  .alert-light hr {
    border-top-color: #ececf6; }
  .alert-light .alert-link {
    color: #686868; }

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca; }
  .alert-dark hr {
    border-top-color: #b9bbbe; }
  .alert-dark .alert-link {
    color: #040505; }

.align-baseline {
  vertical-align: baseline !important; }

.align-top {
  vertical-align: top !important; }

.align-middle {
  vertical-align: middle !important; }

.align-bottom {
  vertical-align: bottom !important; }

.align-text-bottom {
  vertical-align: text-bottom !important; }

.align-text-top {
  vertical-align: text-top !important; }

.bg-primary {
  background-color: #383a98 !important; }

a.bg-primary:focus, a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: #2a2c73 !important; }

.bg-secondary {
  background-color: #868e96 !important; }

a.bg-secondary:focus, a.bg-secondary:hover,
button.bg-secondary:focus,
button.bg-secondary:hover {
  background-color: #6c757d !important; }

.bg-success {
  background-color: #39A849 !important; }

a.bg-success:focus, a.bg-success:hover,
button.bg-success:focus,
button.bg-success:hover {
  background-color: #2c8238 !important; }

.bg-info {
  background-color: #383a98 !important; }

a.bg-info:focus, a.bg-info:hover,
button.bg-info:focus,
button.bg-info:hover {
  background-color: #2a2c73 !important; }

.bg-warning {
  background-color: #FFA000 !important; }

a.bg-warning:focus, a.bg-warning:hover,
button.bg-warning:focus,
button.bg-warning:hover {
  background-color: #cc8000 !important; }

.bg-danger {
  background-color: #dc3545 !important; }

a.bg-danger:focus, a.bg-danger:hover,
button.bg-danger:focus,
button.bg-danger:hover {
  background-color: #bd2130 !important; }

.bg-light {
  background-color: #f8f9fa !important; }

a.bg-light:focus, a.bg-light:hover,
button.bg-light:focus,
button.bg-light:hover {
  background-color: #dae0e5 !important; }

.bg-dark {
  background-color: #343a40 !important; }

a.bg-dark:focus, a.bg-dark:hover,
button.bg-dark:focus,
button.bg-dark:hover {
  background-color: #1d2124 !important; }

.bg-white {
  background-color: #fff !important; }

.bg-transparent {
  background-color: transparent !important; }

.border {
  border: 1px solid #e9ecef !important; }

.border-0 {
  border: 0 !important; }

.border-top-0 {
  border-top: 0 !important; }

.border-right-0 {
  border-right: 0 !important; }

.border-bottom-0 {
  border-bottom: 0 !important; }

.border-left-0 {
  border-left: 0 !important; }

.border-primary {
  border-color: #383a98 !important; }

.border-secondary {
  border-color: #868e96 !important; }

.border-success {
  border-color: #39A849 !important; }

.border-info {
  border-color: #383a98 !important; }

.border-warning {
  border-color: #FFA000 !important; }

.border-danger {
  border-color: #dc3545 !important; }

.border-light {
  border-color: #f8f9fa !important; }

.border-dark {
  border-color: #343a40 !important; }

.border-white {
  border-color: #fff !important; }

.rounded {
  border-radius: 0.5rem !important; }

.rounded-top {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important; }

.rounded-right {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important; }

.rounded-bottom {
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important; }

.rounded-left {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important; }

.rounded-circle {
  border-radius: 50% !important; }

.rounded-0 {
  border-radius: 0 !important; }

.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-table {
  display: table !important; }

.d-table-row {
  display: table-row !important; }

.d-table-cell {
  display: table-cell !important; }

.d-flex {
  display: flex !important; }

.d-inline-flex {
  display: inline-flex !important; }

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important; }

  .d-sm-inline {
    display: inline !important; }

  .d-sm-inline-block {
    display: inline-block !important; }

  .d-sm-block {
    display: block !important; }

  .d-sm-table {
    display: table !important; }

  .d-sm-table-row {
    display: table-row !important; }

  .d-sm-table-cell {
    display: table-cell !important; }

  .d-sm-flex {
    display: flex !important; }

  .d-sm-inline-flex {
    display: inline-flex !important; } }
@media (min-width: 768px) {
  .d-md-none {
    display: none !important; }

  .d-md-inline {
    display: inline !important; }

  .d-md-inline-block {
    display: inline-block !important; }

  .d-md-block {
    display: block !important; }

  .d-md-table {
    display: table !important; }

  .d-md-table-row {
    display: table-row !important; }

  .d-md-table-cell {
    display: table-cell !important; }

  .d-md-flex {
    display: flex !important; }

  .d-md-inline-flex {
    display: inline-flex !important; } }
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important; }

  .d-lg-inline {
    display: inline !important; }

  .d-lg-inline-block {
    display: inline-block !important; }

  .d-lg-block {
    display: block !important; }

  .d-lg-table {
    display: table !important; }

  .d-lg-table-row {
    display: table-row !important; }

  .d-lg-table-cell {
    display: table-cell !important; }

  .d-lg-flex {
    display: flex !important; }

  .d-lg-inline-flex {
    display: inline-flex !important; } }
@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important; }

  .d-xl-inline {
    display: inline !important; }

  .d-xl-inline-block {
    display: inline-block !important; }

  .d-xl-block {
    display: block !important; }

  .d-xl-table {
    display: table !important; }

  .d-xl-table-row {
    display: table-row !important; }

  .d-xl-table-cell {
    display: table-cell !important; }

  .d-xl-flex {
    display: flex !important; }

  .d-xl-inline-flex {
    display: inline-flex !important; } }
.d-print-block {
  display: none !important; }
  @media print {
    .d-print-block {
      display: block !important; } }

.d-print-inline {
  display: none !important; }
  @media print {
    .d-print-inline {
      display: inline !important; } }

.d-print-inline-block {
  display: none !important; }
  @media print {
    .d-print-inline-block {
      display: inline-block !important; } }

@media print {
  .d-print-none {
    display: none !important; } }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.flex-row {
  flex-direction: row !important; }

.flex-column {
  flex-direction: column !important; }

.flex-row-reverse {
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  flex-direction: column-reverse !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

.flex-nowrap {
  flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important; }

.justify-content-start {
  justify-content: flex-start !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-between {
  justify-content: space-between !important; }

.justify-content-around {
  justify-content: space-around !important; }

.align-items-start {
  align-items: flex-start !important; }

.align-items-end {
  align-items: flex-end !important; }

.align-items-center {
  align-items: center !important; }

.align-items-baseline {
  align-items: baseline !important; }

.align-items-stretch {
  align-items: stretch !important; }

.align-content-start {
  align-content: flex-start !important; }

.align-content-end {
  align-content: flex-end !important; }

.align-content-center {
  align-content: center !important; }

.align-content-between {
  align-content: space-between !important; }

.align-content-around {
  align-content: space-around !important; }

.align-content-stretch {
  align-content: stretch !important; }

.align-self-auto {
  align-self: auto !important; }

.align-self-start {
  align-self: flex-start !important; }

.align-self-end {
  align-self: flex-end !important; }

.align-self-center {
  align-self: center !important; }

.align-self-baseline {
  align-self: baseline !important; }

.align-self-stretch {
  align-self: stretch !important; }

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row !important; }

  .flex-sm-column {
    flex-direction: column !important; }

  .flex-sm-row-reverse {
    flex-direction: row-reverse !important; }

  .flex-sm-column-reverse {
    flex-direction: column-reverse !important; }

  .flex-sm-wrap {
    flex-wrap: wrap !important; }

  .flex-sm-nowrap {
    flex-wrap: nowrap !important; }

  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important; }

  .justify-content-sm-start {
    justify-content: flex-start !important; }

  .justify-content-sm-end {
    justify-content: flex-end !important; }

  .justify-content-sm-center {
    justify-content: center !important; }

  .justify-content-sm-between {
    justify-content: space-between !important; }

  .justify-content-sm-around {
    justify-content: space-around !important; }

  .align-items-sm-start {
    align-items: flex-start !important; }

  .align-items-sm-end {
    align-items: flex-end !important; }

  .align-items-sm-center {
    align-items: center !important; }

  .align-items-sm-baseline {
    align-items: baseline !important; }

  .align-items-sm-stretch {
    align-items: stretch !important; }

  .align-content-sm-start {
    align-content: flex-start !important; }

  .align-content-sm-end {
    align-content: flex-end !important; }

  .align-content-sm-center {
    align-content: center !important; }

  .align-content-sm-between {
    align-content: space-between !important; }

  .align-content-sm-around {
    align-content: space-around !important; }

  .align-content-sm-stretch {
    align-content: stretch !important; }

  .align-self-sm-auto {
    align-self: auto !important; }

  .align-self-sm-start {
    align-self: flex-start !important; }

  .align-self-sm-end {
    align-self: flex-end !important; }

  .align-self-sm-center {
    align-self: center !important; }

  .align-self-sm-baseline {
    align-self: baseline !important; }

  .align-self-sm-stretch {
    align-self: stretch !important; } }
@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important; }

  .flex-md-column {
    flex-direction: column !important; }

  .flex-md-row-reverse {
    flex-direction: row-reverse !important; }

  .flex-md-column-reverse {
    flex-direction: column-reverse !important; }

  .flex-md-wrap {
    flex-wrap: wrap !important; }

  .flex-md-nowrap {
    flex-wrap: nowrap !important; }

  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important; }

  .justify-content-md-start {
    justify-content: flex-start !important; }

  .justify-content-md-end {
    justify-content: flex-end !important; }

  .justify-content-md-center {
    justify-content: center !important; }

  .justify-content-md-between {
    justify-content: space-between !important; }

  .justify-content-md-around {
    justify-content: space-around !important; }

  .align-items-md-start {
    align-items: flex-start !important; }

  .align-items-md-end {
    align-items: flex-end !important; }

  .align-items-md-center {
    align-items: center !important; }

  .align-items-md-baseline {
    align-items: baseline !important; }

  .align-items-md-stretch {
    align-items: stretch !important; }

  .align-content-md-start {
    align-content: flex-start !important; }

  .align-content-md-end {
    align-content: flex-end !important; }

  .align-content-md-center {
    align-content: center !important; }

  .align-content-md-between {
    align-content: space-between !important; }

  .align-content-md-around {
    align-content: space-around !important; }

  .align-content-md-stretch {
    align-content: stretch !important; }

  .align-self-md-auto {
    align-self: auto !important; }

  .align-self-md-start {
    align-self: flex-start !important; }

  .align-self-md-end {
    align-self: flex-end !important; }

  .align-self-md-center {
    align-self: center !important; }

  .align-self-md-baseline {
    align-self: baseline !important; }

  .align-self-md-stretch {
    align-self: stretch !important; } }
@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important; }

  .flex-lg-column {
    flex-direction: column !important; }

  .flex-lg-row-reverse {
    flex-direction: row-reverse !important; }

  .flex-lg-column-reverse {
    flex-direction: column-reverse !important; }

  .flex-lg-wrap {
    flex-wrap: wrap !important; }

  .flex-lg-nowrap {
    flex-wrap: nowrap !important; }

  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important; }

  .justify-content-lg-start {
    justify-content: flex-start !important; }

  .justify-content-lg-end {
    justify-content: flex-end !important; }

  .justify-content-lg-center {
    justify-content: center !important; }

  .justify-content-lg-between {
    justify-content: space-between !important; }

  .justify-content-lg-around {
    justify-content: space-around !important; }

  .align-items-lg-start {
    align-items: flex-start !important; }

  .align-items-lg-end {
    align-items: flex-end !important; }

  .align-items-lg-center {
    align-items: center !important; }

  .align-items-lg-baseline {
    align-items: baseline !important; }

  .align-items-lg-stretch {
    align-items: stretch !important; }

  .align-content-lg-start {
    align-content: flex-start !important; }

  .align-content-lg-end {
    align-content: flex-end !important; }

  .align-content-lg-center {
    align-content: center !important; }

  .align-content-lg-between {
    align-content: space-between !important; }

  .align-content-lg-around {
    align-content: space-around !important; }

  .align-content-lg-stretch {
    align-content: stretch !important; }

  .align-self-lg-auto {
    align-self: auto !important; }

  .align-self-lg-start {
    align-self: flex-start !important; }

  .align-self-lg-end {
    align-self: flex-end !important; }

  .align-self-lg-center {
    align-self: center !important; }

  .align-self-lg-baseline {
    align-self: baseline !important; }

  .align-self-lg-stretch {
    align-self: stretch !important; } }
@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row !important; }

  .flex-xl-column {
    flex-direction: column !important; }

  .flex-xl-row-reverse {
    flex-direction: row-reverse !important; }

  .flex-xl-column-reverse {
    flex-direction: column-reverse !important; }

  .flex-xl-wrap {
    flex-wrap: wrap !important; }

  .flex-xl-nowrap {
    flex-wrap: nowrap !important; }

  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important; }

  .justify-content-xl-start {
    justify-content: flex-start !important; }

  .justify-content-xl-end {
    justify-content: flex-end !important; }

  .justify-content-xl-center {
    justify-content: center !important; }

  .justify-content-xl-between {
    justify-content: space-between !important; }

  .justify-content-xl-around {
    justify-content: space-around !important; }

  .align-items-xl-start {
    align-items: flex-start !important; }

  .align-items-xl-end {
    align-items: flex-end !important; }

  .align-items-xl-center {
    align-items: center !important; }

  .align-items-xl-baseline {
    align-items: baseline !important; }

  .align-items-xl-stretch {
    align-items: stretch !important; }

  .align-content-xl-start {
    align-content: flex-start !important; }

  .align-content-xl-end {
    align-content: flex-end !important; }

  .align-content-xl-center {
    align-content: center !important; }

  .align-content-xl-between {
    align-content: space-between !important; }

  .align-content-xl-around {
    align-content: space-around !important; }

  .align-content-xl-stretch {
    align-content: stretch !important; }

  .align-self-xl-auto {
    align-self: auto !important; }

  .align-self-xl-start {
    align-self: flex-start !important; }

  .align-self-xl-end {
    align-self: flex-end !important; }

  .align-self-xl-center {
    align-self: center !important; }

  .align-self-xl-baseline {
    align-self: baseline !important; }

  .align-self-xl-stretch {
    align-self: stretch !important; } }
.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-none {
  float: none !important; }

@media (min-width: 576px) {
  .float-sm-left {
    float: left !important; }

  .float-sm-right {
    float: right !important; }

  .float-sm-none {
    float: none !important; } }
@media (min-width: 768px) {
  .float-md-left {
    float: left !important; }

  .float-md-right {
    float: right !important; }

  .float-md-none {
    float: none !important; } }
@media (min-width: 992px) {
  .float-lg-left {
    float: left !important; }

  .float-lg-right {
    float: right !important; }

  .float-lg-none {
    float: none !important; } }
@media (min-width: 1200px) {
  .float-xl-left {
    float: left !important; }

  .float-xl-right {
    float: right !important; }

  .float-xl-none {
    float: none !important; } }
.position-static {
  position: static !important; }

.position-relative {
  position: relative !important; }

.position-absolute {
  position: absolute !important; }

.position-fixed {
  position: fixed !important; }

.position-sticky {
  position: sticky !important; }

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030; }

@supports (position: sticky) {
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  clip-path: none; }

.w-25 {
  width: 25% !important; }

.w-50 {
  width: 50% !important; }

.w-75 {
  width: 75% !important; }

.w-100 {
  width: 100% !important; }

.h-25 {
  height: 25% !important; }

.h-50 {
  height: 50% !important; }

.h-75 {
  height: 75% !important; }

.h-100 {
  height: 100% !important; }

.mw-100 {
  max-width: 100% !important; }

.mh-100 {
  max-height: 100% !important; }

.m-0 {
  margin: 0 !important; }

.mt-0,
.my-0 {
  margin-top: 0 !important; }

.mr-0,
.mx-0 {
  margin-right: 0 !important; }

.mb-0,
.my-0 {
  margin-bottom: 0 !important; }

.ml-0,
.mx-0 {
  margin-left: 0 !important; }

.m-1 {
  margin: 1rem !important; }

.mt-1,
.my-1 {
  margin-top: 1rem !important; }

.mr-1,
.mx-1 {
  margin-right: 1rem !important; }

.mb-1,
.my-1 {
  margin-bottom: 1rem !important; }

.ml-1,
.mx-1 {
  margin-left: 1rem !important; }

.m-2 {
  margin: 2rem !important; }

.mt-2,
.my-2 {
  margin-top: 2rem !important; }

.mr-2,
.mx-2 {
  margin-right: 2rem !important; }

.mb-2,
.my-2 {
  margin-bottom: 2rem !important; }

.ml-2,
.mx-2 {
  margin-left: 2rem !important; }

.m-3 {
  margin: 3rem !important; }

.mt-3,
.my-3 {
  margin-top: 3rem !important; }

.mr-3,
.mx-3 {
  margin-right: 3rem !important; }

.mb-3,
.my-3 {
  margin-bottom: 3rem !important; }

.ml-3,
.mx-3 {
  margin-left: 3rem !important; }

.m-4 {
  margin: 4rem !important; }

.mt-4,
.my-4 {
  margin-top: 4rem !important; }

.mr-4,
.mx-4 {
  margin-right: 4rem !important; }

.mb-4,
.my-4 {
  margin-bottom: 4rem !important; }

.ml-4,
.mx-4 {
  margin-left: 4rem !important; }

.m-5 {
  margin: 5rem !important; }

.mt-5,
.my-5 {
  margin-top: 5rem !important; }

.mr-5,
.mx-5 {
  margin-right: 5rem !important; }

.mb-5,
.my-5 {
  margin-bottom: 5rem !important; }

.ml-5,
.mx-5 {
  margin-left: 5rem !important; }

.p-0 {
  padding: 0 !important; }

.pt-0,
.py-0 {
  padding-top: 0 !important; }

.pr-0,
.px-0 {
  padding-right: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.p-1 {
  padding: 1rem !important; }

.pt-1,
.py-1 {
  padding-top: 1rem !important; }

.pr-1,
.px-1 {
  padding-right: 1rem !important; }

.pb-1,
.py-1 {
  padding-bottom: 1rem !important; }

.pl-1,
.px-1 {
  padding-left: 1rem !important; }

.p-2 {
  padding: 2rem !important; }

.pt-2,
.py-2 {
  padding-top: 2rem !important; }

.pr-2,
.px-2 {
  padding-right: 2rem !important; }

.pb-2,
.py-2 {
  padding-bottom: 2rem !important; }

.pl-2,
.px-2 {
  padding-left: 2rem !important; }

.p-3 {
  padding: 3rem !important; }

.pt-3,
.py-3 {
  padding-top: 3rem !important; }

.pr-3,
.px-3 {
  padding-right: 3rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 3rem !important; }

.pl-3,
.px-3 {
  padding-left: 3rem !important; }

.p-4 {
  padding: 4rem !important; }

.pt-4,
.py-4 {
  padding-top: 4rem !important; }

.pr-4,
.px-4 {
  padding-right: 4rem !important; }

.pb-4,
.py-4 {
  padding-bottom: 4rem !important; }

.pl-4,
.px-4 {
  padding-left: 4rem !important; }

.p-5 {
  padding: 5rem !important; }

.pt-5,
.py-5 {
  padding-top: 5rem !important; }

.pr-5,
.px-5 {
  padding-right: 5rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 5rem !important; }

.pl-5,
.px-5 {
  padding-left: 5rem !important; }

.m-auto {
  margin: auto !important; }

.mt-auto,
.my-auto {
  margin-top: auto !important; }

.mr-auto,
.mx-auto {
  margin-right: auto !important; }

.mb-auto,
.my-auto {
  margin-bottom: auto !important; }

.ml-auto,
.mx-auto {
  margin-left: auto !important; }

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important; }

  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important; }

  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important; }

  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important; }

  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important; }

  .m-sm-1 {
    margin: 1rem !important; }

  .mt-sm-1,
  .my-sm-1 {
    margin-top: 1rem !important; }

  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 1rem !important; }

  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 1rem !important; }

  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 1rem !important; }

  .m-sm-2 {
    margin: 2rem !important; }

  .mt-sm-2,
  .my-sm-2 {
    margin-top: 2rem !important; }

  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 2rem !important; }

  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 2rem !important; }

  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 2rem !important; }

  .m-sm-3 {
    margin: 3rem !important; }

  .mt-sm-3,
  .my-sm-3 {
    margin-top: 3rem !important; }

  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 3rem !important; }

  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 3rem !important; }

  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 3rem !important; }

  .m-sm-4 {
    margin: 4rem !important; }

  .mt-sm-4,
  .my-sm-4 {
    margin-top: 4rem !important; }

  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 4rem !important; }

  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 4rem !important; }

  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 4rem !important; }

  .m-sm-5 {
    margin: 5rem !important; }

  .mt-sm-5,
  .my-sm-5 {
    margin-top: 5rem !important; }

  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 5rem !important; }

  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 5rem !important; }

  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 5rem !important; }

  .p-sm-0 {
    padding: 0 !important; }

  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important; }

  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important; }

  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important; }

  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important; }

  .p-sm-1 {
    padding: 1rem !important; }

  .pt-sm-1,
  .py-sm-1 {
    padding-top: 1rem !important; }

  .pr-sm-1,
  .px-sm-1 {
    padding-right: 1rem !important; }

  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 1rem !important; }

  .pl-sm-1,
  .px-sm-1 {
    padding-left: 1rem !important; }

  .p-sm-2 {
    padding: 2rem !important; }

  .pt-sm-2,
  .py-sm-2 {
    padding-top: 2rem !important; }

  .pr-sm-2,
  .px-sm-2 {
    padding-right: 2rem !important; }

  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 2rem !important; }

  .pl-sm-2,
  .px-sm-2 {
    padding-left: 2rem !important; }

  .p-sm-3 {
    padding: 3rem !important; }

  .pt-sm-3,
  .py-sm-3 {
    padding-top: 3rem !important; }

  .pr-sm-3,
  .px-sm-3 {
    padding-right: 3rem !important; }

  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 3rem !important; }

  .pl-sm-3,
  .px-sm-3 {
    padding-left: 3rem !important; }

  .p-sm-4 {
    padding: 4rem !important; }

  .pt-sm-4,
  .py-sm-4 {
    padding-top: 4rem !important; }

  .pr-sm-4,
  .px-sm-4 {
    padding-right: 4rem !important; }

  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 4rem !important; }

  .pl-sm-4,
  .px-sm-4 {
    padding-left: 4rem !important; }

  .p-sm-5 {
    padding: 5rem !important; }

  .pt-sm-5,
  .py-sm-5 {
    padding-top: 5rem !important; }

  .pr-sm-5,
  .px-sm-5 {
    padding-right: 5rem !important; }

  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 5rem !important; }

  .pl-sm-5,
  .px-sm-5 {
    padding-left: 5rem !important; }

  .m-sm-auto {
    margin: auto !important; }

  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important; }

  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important; }

  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important; }

  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important; } }
@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important; }

  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important; }

  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important; }

  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important; }

  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important; }

  .m-md-1 {
    margin: 1rem !important; }

  .mt-md-1,
  .my-md-1 {
    margin-top: 1rem !important; }

  .mr-md-1,
  .mx-md-1 {
    margin-right: 1rem !important; }

  .mb-md-1,
  .my-md-1 {
    margin-bottom: 1rem !important; }

  .ml-md-1,
  .mx-md-1 {
    margin-left: 1rem !important; }

  .m-md-2 {
    margin: 2rem !important; }

  .mt-md-2,
  .my-md-2 {
    margin-top: 2rem !important; }

  .mr-md-2,
  .mx-md-2 {
    margin-right: 2rem !important; }

  .mb-md-2,
  .my-md-2 {
    margin-bottom: 2rem !important; }

  .ml-md-2,
  .mx-md-2 {
    margin-left: 2rem !important; }

  .m-md-3 {
    margin: 3rem !important; }

  .mt-md-3,
  .my-md-3 {
    margin-top: 3rem !important; }

  .mr-md-3,
  .mx-md-3 {
    margin-right: 3rem !important; }

  .mb-md-3,
  .my-md-3 {
    margin-bottom: 3rem !important; }

  .ml-md-3,
  .mx-md-3 {
    margin-left: 3rem !important; }

  .m-md-4 {
    margin: 4rem !important; }

  .mt-md-4,
  .my-md-4 {
    margin-top: 4rem !important; }

  .mr-md-4,
  .mx-md-4 {
    margin-right: 4rem !important; }

  .mb-md-4,
  .my-md-4 {
    margin-bottom: 4rem !important; }

  .ml-md-4,
  .mx-md-4 {
    margin-left: 4rem !important; }

  .m-md-5 {
    margin: 5rem !important; }

  .mt-md-5,
  .my-md-5 {
    margin-top: 5rem !important; }

  .mr-md-5,
  .mx-md-5 {
    margin-right: 5rem !important; }

  .mb-md-5,
  .my-md-5 {
    margin-bottom: 5rem !important; }

  .ml-md-5,
  .mx-md-5 {
    margin-left: 5rem !important; }

  .p-md-0 {
    padding: 0 !important; }

  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important; }

  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important; }

  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important; }

  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important; }

  .p-md-1 {
    padding: 1rem !important; }

  .pt-md-1,
  .py-md-1 {
    padding-top: 1rem !important; }

  .pr-md-1,
  .px-md-1 {
    padding-right: 1rem !important; }

  .pb-md-1,
  .py-md-1 {
    padding-bottom: 1rem !important; }

  .pl-md-1,
  .px-md-1 {
    padding-left: 1rem !important; }

  .p-md-2 {
    padding: 2rem !important; }

  .pt-md-2,
  .py-md-2 {
    padding-top: 2rem !important; }

  .pr-md-2,
  .px-md-2 {
    padding-right: 2rem !important; }

  .pb-md-2,
  .py-md-2 {
    padding-bottom: 2rem !important; }

  .pl-md-2,
  .px-md-2 {
    padding-left: 2rem !important; }

  .p-md-3 {
    padding: 3rem !important; }

  .pt-md-3,
  .py-md-3 {
    padding-top: 3rem !important; }

  .pr-md-3,
  .px-md-3 {
    padding-right: 3rem !important; }

  .pb-md-3,
  .py-md-3 {
    padding-bottom: 3rem !important; }

  .pl-md-3,
  .px-md-3 {
    padding-left: 3rem !important; }

  .p-md-4 {
    padding: 4rem !important; }

  .pt-md-4,
  .py-md-4 {
    padding-top: 4rem !important; }

  .pr-md-4,
  .px-md-4 {
    padding-right: 4rem !important; }

  .pb-md-4,
  .py-md-4 {
    padding-bottom: 4rem !important; }

  .pl-md-4,
  .px-md-4 {
    padding-left: 4rem !important; }

  .p-md-5 {
    padding: 5rem !important; }

  .pt-md-5,
  .py-md-5 {
    padding-top: 5rem !important; }

  .pr-md-5,
  .px-md-5 {
    padding-right: 5rem !important; }

  .pb-md-5,
  .py-md-5 {
    padding-bottom: 5rem !important; }

  .pl-md-5,
  .px-md-5 {
    padding-left: 5rem !important; }

  .m-md-auto {
    margin: auto !important; }

  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important; }

  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important; }

  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important; }

  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important; } }
@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important; }

  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important; }

  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important; }

  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important; }

  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important; }

  .m-lg-1 {
    margin: 1rem !important; }

  .mt-lg-1,
  .my-lg-1 {
    margin-top: 1rem !important; }

  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 1rem !important; }

  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 1rem !important; }

  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 1rem !important; }

  .m-lg-2 {
    margin: 2rem !important; }

  .mt-lg-2,
  .my-lg-2 {
    margin-top: 2rem !important; }

  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 2rem !important; }

  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 2rem !important; }

  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 2rem !important; }

  .m-lg-3 {
    margin: 3rem !important; }

  .mt-lg-3,
  .my-lg-3 {
    margin-top: 3rem !important; }

  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 3rem !important; }

  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 3rem !important; }

  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 3rem !important; }

  .m-lg-4 {
    margin: 4rem !important; }

  .mt-lg-4,
  .my-lg-4 {
    margin-top: 4rem !important; }

  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 4rem !important; }

  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 4rem !important; }

  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 4rem !important; }

  .m-lg-5 {
    margin: 5rem !important; }

  .mt-lg-5,
  .my-lg-5 {
    margin-top: 5rem !important; }

  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 5rem !important; }

  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 5rem !important; }

  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 5rem !important; }

  .p-lg-0 {
    padding: 0 !important; }

  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important; }

  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important; }

  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important; }

  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important; }

  .p-lg-1 {
    padding: 1rem !important; }

  .pt-lg-1,
  .py-lg-1 {
    padding-top: 1rem !important; }

  .pr-lg-1,
  .px-lg-1 {
    padding-right: 1rem !important; }

  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 1rem !important; }

  .pl-lg-1,
  .px-lg-1 {
    padding-left: 1rem !important; }

  .p-lg-2 {
    padding: 2rem !important; }

  .pt-lg-2,
  .py-lg-2 {
    padding-top: 2rem !important; }

  .pr-lg-2,
  .px-lg-2 {
    padding-right: 2rem !important; }

  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 2rem !important; }

  .pl-lg-2,
  .px-lg-2 {
    padding-left: 2rem !important; }

  .p-lg-3 {
    padding: 3rem !important; }

  .pt-lg-3,
  .py-lg-3 {
    padding-top: 3rem !important; }

  .pr-lg-3,
  .px-lg-3 {
    padding-right: 3rem !important; }

  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 3rem !important; }

  .pl-lg-3,
  .px-lg-3 {
    padding-left: 3rem !important; }

  .p-lg-4 {
    padding: 4rem !important; }

  .pt-lg-4,
  .py-lg-4 {
    padding-top: 4rem !important; }

  .pr-lg-4,
  .px-lg-4 {
    padding-right: 4rem !important; }

  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 4rem !important; }

  .pl-lg-4,
  .px-lg-4 {
    padding-left: 4rem !important; }

  .p-lg-5 {
    padding: 5rem !important; }

  .pt-lg-5,
  .py-lg-5 {
    padding-top: 5rem !important; }

  .pr-lg-5,
  .px-lg-5 {
    padding-right: 5rem !important; }

  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 5rem !important; }

  .pl-lg-5,
  .px-lg-5 {
    padding-left: 5rem !important; }

  .m-lg-auto {
    margin: auto !important; }

  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important; }

  .mr-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important; }

  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important; }

  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important; } }
@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important; }

  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important; }

  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important; }

  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important; }

  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important; }

  .m-xl-1 {
    margin: 1rem !important; }

  .mt-xl-1,
  .my-xl-1 {
    margin-top: 1rem !important; }

  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 1rem !important; }

  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 1rem !important; }

  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 1rem !important; }

  .m-xl-2 {
    margin: 2rem !important; }

  .mt-xl-2,
  .my-xl-2 {
    margin-top: 2rem !important; }

  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 2rem !important; }

  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 2rem !important; }

  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 2rem !important; }

  .m-xl-3 {
    margin: 3rem !important; }

  .mt-xl-3,
  .my-xl-3 {
    margin-top: 3rem !important; }

  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 3rem !important; }

  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 3rem !important; }

  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 3rem !important; }

  .m-xl-4 {
    margin: 4rem !important; }

  .mt-xl-4,
  .my-xl-4 {
    margin-top: 4rem !important; }

  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 4rem !important; }

  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 4rem !important; }

  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 4rem !important; }

  .m-xl-5 {
    margin: 5rem !important; }

  .mt-xl-5,
  .my-xl-5 {
    margin-top: 5rem !important; }

  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 5rem !important; }

  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 5rem !important; }

  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 5rem !important; }

  .p-xl-0 {
    padding: 0 !important; }

  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important; }

  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important; }

  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important; }

  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important; }

  .p-xl-1 {
    padding: 1rem !important; }

  .pt-xl-1,
  .py-xl-1 {
    padding-top: 1rem !important; }

  .pr-xl-1,
  .px-xl-1 {
    padding-right: 1rem !important; }

  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 1rem !important; }

  .pl-xl-1,
  .px-xl-1 {
    padding-left: 1rem !important; }

  .p-xl-2 {
    padding: 2rem !important; }

  .pt-xl-2,
  .py-xl-2 {
    padding-top: 2rem !important; }

  .pr-xl-2,
  .px-xl-2 {
    padding-right: 2rem !important; }

  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 2rem !important; }

  .pl-xl-2,
  .px-xl-2 {
    padding-left: 2rem !important; }

  .p-xl-3 {
    padding: 3rem !important; }

  .pt-xl-3,
  .py-xl-3 {
    padding-top: 3rem !important; }

  .pr-xl-3,
  .px-xl-3 {
    padding-right: 3rem !important; }

  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 3rem !important; }

  .pl-xl-3,
  .px-xl-3 {
    padding-left: 3rem !important; }

  .p-xl-4 {
    padding: 4rem !important; }

  .pt-xl-4,
  .py-xl-4 {
    padding-top: 4rem !important; }

  .pr-xl-4,
  .px-xl-4 {
    padding-right: 4rem !important; }

  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 4rem !important; }

  .pl-xl-4,
  .px-xl-4 {
    padding-left: 4rem !important; }

  .p-xl-5 {
    padding: 5rem !important; }

  .pt-xl-5,
  .py-xl-5 {
    padding-top: 5rem !important; }

  .pr-xl-5,
  .px-xl-5 {
    padding-right: 5rem !important; }

  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 5rem !important; }

  .pl-xl-5,
  .px-xl-5 {
    padding-left: 5rem !important; }

  .m-xl-auto {
    margin: auto !important; }

  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important; }

  .mr-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important; }

  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important; }

  .ml-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important; } }
.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important; }

  .text-sm-right {
    text-align: right !important; }

  .text-sm-center {
    text-align: center !important; } }
@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }

  .text-md-right {
    text-align: right !important; }

  .text-md-center {
    text-align: center !important; } }
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }

  .text-lg-right {
    text-align: right !important; }

  .text-lg-center {
    text-align: center !important; } }
@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important; }

  .text-xl-right {
    text-align: right !important; }

  .text-xl-center {
    text-align: center !important; } }
.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-weight-light {
  font-weight: 300 !important; }

.font-weight-normal {
  font-weight: 400 !important; }

.font-weight-bold {
  font-weight: 700 !important; }

.font-italic {
  font-style: italic !important; }

.text-white {
  color: #fff !important; }

.text-primary {
  color: #383a98 !important; }

a.text-primary:focus, a.text-primary:hover {
  color: #2a2c73 !important; }

.text-secondary {
  color: #868e96 !important; }

a.text-secondary:focus, a.text-secondary:hover {
  color: #6c757d !important; }

.text-success {
  color: #39A849 !important; }

a.text-success:focus, a.text-success:hover {
  color: #2c8238 !important; }

.text-info {
  color: #383a98 !important; }

a.text-info:focus, a.text-info:hover {
  color: #2a2c73 !important; }

.text-warning {
  color: #FFA000 !important; }

a.text-warning:focus, a.text-warning:hover {
  color: #cc8000 !important; }

.text-danger {
  color: #dc3545 !important; }

a.text-danger:focus, a.text-danger:hover {
  color: #bd2130 !important; }

.text-light {
  color: #f8f9fa !important; }

a.text-light:focus, a.text-light:hover {
  color: #dae0e5 !important; }

.text-dark {
  color: #343a40 !important; }

a.text-dark:focus, a.text-dark:hover {
  color: #1d2124 !important; }

.text-muted {
  color: #868e96 !important; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.visible {
  visibility: visible !important; }

.invisible {
  visibility: hidden !important; }

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  abbr[title]::after {
    content: " (" attr(title) ")"; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .navbar {
    display: none; }

  .badge {
    border: 1px solid #000; }

  .table {
    border-collapse: collapse !important; }
    .table td,
    .table th {
      background-color: #fff !important; }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important; } }
.page-template-caucion-home {
  background-color: #383a98 !important; }
  .page-template-caucion-home .content, .page-template-caucion-home .wrapper_inner {
    background-color: #383a98 !important; }
  .page-template-caucion-home #contenido {
    text-align: center; }
    .page-template-caucion-home #contenido h1, .page-template-caucion-home #contenido h2, .page-template-caucion-home #contenido p {
      color: #fff; }

hr {
  margin: 20px 0px 20px 0px; }

.st {
  margin-left: -4px !important; }

.mar {
  margin-left: 13%; }
  @media (max-width: 991.99px) {
    .mar {
      margin-left: 0; } }

#step-3 h3 {
  padding-top: 10px !important; }

#contenido .container {
  background: none; }

.cinta {
  padding-left: 20px;
  text-align: center; }
  @media (min-width: 992px) {
    .cinta {
      padding-left: 0px;
      padding-top: 20px;
      text-align: left; } }

.pad {
  padding: 30px 40px 50px 50px;
  overflow: hidden;
  min-height: 440px; }
  @media (max-width: 575.99px) {
    .pad {
      padding: 30px 40px 50px 30px;
      margin-top: 30px; } }
  @media (max-width: 991.99px) {
    .pad {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 1199.99px) {
    .pad {
      margin-top: 30px; } }

#reset {
  padding: 0;
  background: none;
  color: gray;
  border: 0; }

.fondo {
  background-image: url("https://www.foms.com.ar/wp-content/uploads/2018/02/Home1-Overlay.jpg?id=21750");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  @media (max-width: 575.99px) {
    .fondo {
      background-image: none; } }

.fondo-sub {
  background-image: url("http://www.foms.com.ar/wp-content/uploads/2019/01/header-garantia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  @media (max-width: 575.99px) {
    .fondo-sub {
      background-image: none; } }

.head {
  height: 200px;
  margin-top: 80px; }
  @media (max-width: 575.99px) {
    .head {
      text-align: center;
      height: 250px;
      margin-top: 0; } }

.boton {
  width: 100%;
  padding: 0px 0px 20px 0px;
  color: #fff !important; }
  .boton :hover {
    color: #e6ae48 !important; }

/*.pos{
    max-width: 400px;
    margin: 0 auto;
}*/
.rel {
  position: relative; }

.page-template-caucion-home {
  position: relative; }

.icons {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -30px;
  background-color: white;
  padding: 20px;
  color: #383a98; }

.page-template-caucion-form #contenido {
  position: relative;
  color: #383A98;
  overflow: hidden;
  min-height: 800px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
  margin-top: 30px; }
  @media (min-width: 992px) {
    .page-template-caucion-form #contenido {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .page-template-caucion-form #contenido h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0.5rem; }
  .page-template-caucion-form #contenido h2 {
    color: #383A98; }
  .page-template-caucion-form #contenido p {
    color: #5d5d5d; }
.page-template-caucion-form #icon-container {
  padding: 30px 0;
  color: #383a98;
  font-size: 20px;
  font-weight: 500; }
  .page-template-caucion-form #icon-container p {
    margin-top: 15px; }
.page-template-caucion-form fieldset {
  position: absolute;
  z-index: 0;
  left: 0px;
  right: 0px;
  width: 98%; }
  .page-template-caucion-form fieldset.active {
    position: relative;
    z-index: 1;
    left: 0px;
    right: 0px; }
.page-template-caucion-form .hideError {
  display: none; }
.page-template-caucion-form .showError {
  display: block; }
.page-template-caucion-form .animated {
  opacity: 0; }
.page-template-caucion-form #contenido {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 992px) {
    .page-template-caucion-form #contenido {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .page-template-caucion-form #contenido label {
    text-align: left;
    color: #666;
    width: 100% !important;
    max-width: 360px;
    font-size: 15px;
    margin-bottom: 5px; }
  .page-template-caucion-form #contenido h5 {
    font-size: 18px;
    color: #9B9B9B;
    margin-bottom: 15px; }
  .page-template-caucion-form #contenido h1 {
    color: #383a98;
    font-size: 35px;
    margin-bottom: 0px;
    text-transform: inherit;
    letter-spacing: 0px; }
  .page-template-caucion-form #contenido h3 {
    font-style: normal; }
  .page-template-caucion-form #contenido h2 {
    letter-spacing: 0px; }
  .page-template-caucion-form #contenido p.lead {
    font-size: 20px;
    color: #9B9B9B;
    margin-bottom: 30px;
    line-height: 30px; }
  .page-template-caucion-form #contenido .form-control {
    max-width: 360px;
    padding: 0.1rem 1rem;
    line-height: 2.2rem; }
  .page-template-caucion-form #contenido select.form-control {
    max-width: 360px;
    padding: 0.1rem 1rem;
    line-height: 2.2rem;
    height: 40px; }

.page-template-caucion-form-subsidio #contenido {
  position: relative;
  color: #383A98;
  overflow: hidden;
  min-height: 800px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
  margin-top: 30px; }
  @media (min-width: 992px) {
    .page-template-caucion-form-subsidio #contenido {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .page-template-caucion-form-subsidio #contenido h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0.5rem; }
  .page-template-caucion-form-subsidio #contenido h2 {
    color: #383A98; }
  .page-template-caucion-form-subsidio #contenido p {
    color: #5d5d5d; }
.page-template-caucion-form-subsidio #icon-container {
  padding: 30px 0;
  color: #383a98;
  font-size: 20px;
  font-weight: 500; }
  .page-template-caucion-form-subsidio #icon-container p {
    margin-top: 15px; }
.page-template-caucion-form-subsidio fieldset {
  position: absolute;
  z-index: 0;
  left: 0px;
  right: 0px;
  width: 98%; }
  .page-template-caucion-form-subsidio fieldset.active {
    position: relative;
    z-index: 1;
    left: 0px;
    right: 0px; }
.page-template-caucion-form-subsidio .hideError {
  display: none; }
.page-template-caucion-form-subsidio .showError {
  display: block; }
.page-template-caucion-form-subsidio .animated {
  opacity: 0; }
.page-template-caucion-form-subsidio #contenido {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 992px) {
    .page-template-caucion-form-subsidio #contenido {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .page-template-caucion-form-subsidio #contenido label {
    text-align: left;
    color: #666;
    width: 100% !important;
    max-width: 360px;
    font-size: 15px;
    margin-bottom: 5px; }
  .page-template-caucion-form-subsidio #contenido h5 {
    font-size: 18px;
    color: #9B9B9B;
    margin-bottom: 15px; }
  .page-template-caucion-form-subsidio #contenido h1 {
    color: #383a98;
    font-size: 35px;
    margin-bottom: 0px;
    text-transform: inherit;
    letter-spacing: 0px; }
  .page-template-caucion-form-subsidio #contenido h3 {
    font-style: normal; }
  .page-template-caucion-form-subsidio #contenido h2 {
    letter-spacing: 0px; }
  .page-template-caucion-form-subsidio #contenido p.lead {
    font-size: 20px;
    color: #9B9B9B;
    margin-bottom: 30px;
    line-height: 30px; }
  .page-template-caucion-form-subsidio #contenido .form-control {
    max-width: 360px;
    padding: 0.1rem 1rem;
    line-height: 2.2rem; }
  .page-template-caucion-form-subsidio #contenido select.form-control {
    max-width: 360px;
    padding: 0.1rem 1rem;
    line-height: 2.2rem;
    height: 40px; }

.page-template-caucion-form-infobae #contenido {
  position: relative;
  color: #383A98;
  overflow: hidden;
  min-height: 800px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
  margin-top: 30px; }
  @media (min-width: 992px) {
    .page-template-caucion-form-infobae #contenido {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .page-template-caucion-form-infobae #contenido h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0.5rem; }
  .page-template-caucion-form-infobae #contenido h2 {
    color: #383A98; }
  .page-template-caucion-form-infobae #contenido p {
    color: #5d5d5d; }
.page-template-caucion-form-infobae #icon-container {
  padding: 30px 0;
  color: #383a98;
  font-size: 20px;
  font-weight: 500; }
  .page-template-caucion-form-infobae #icon-container p {
    margin-top: 15px; }
.page-template-caucion-form-infobae fieldset {
  position: absolute;
  z-index: 0;
  left: 0px;
  right: 0px;
  width: 98%; }
  .page-template-caucion-form-infobae fieldset.active {
    position: relative;
    z-index: 1;
    left: 0px;
    right: 0px; }
.page-template-caucion-form-infobae .hideError {
  display: none; }
.page-template-caucion-form-infobae .showError {
  display: block; }
.page-template-caucion-form-infobae .animated {
  opacity: 0; }
.page-template-caucion-form-infobae #contenido {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 992px) {
    .page-template-caucion-form-infobae #contenido {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .page-template-caucion-form-infobae #contenido label {
    text-align: left;
    color: #666;
    width: 100% !important;
    max-width: 360px;
    font-size: 15px;
    margin-bottom: 5px; }
  .page-template-caucion-form-infobae #contenido h5 {
    font-size: 18px;
    color: #9B9B9B;
    margin-bottom: 15px; }
  .page-template-caucion-form-infobae #contenido h1 {
    color: #383a98;
    font-size: 35px;
    margin-bottom: 0.5rem;
    text-transform: inherit;
    letter-spacing: 0px; }
  .page-template-caucion-form-infobae #contenido h3 {
    font-style: normal; }
  .page-template-caucion-form-infobae #contenido h2 {
    letter-spacing: 0px; }
  .page-template-caucion-form-infobae #contenido p.lead {
    font-size: 20px;
    color: #9B9B9B;
    margin-bottom: 30px;
    line-height: 30px; }
  .page-template-caucion-form-infobae #contenido .form-control {
    max-width: 360px;
    padding: 0.1rem 1rem;
    line-height: 2.2rem; }
  .page-template-caucion-form-infobae #contenido select.form-control {
    max-width: 360px;
    padding: 0.1rem 1rem;
    line-height: 2.2rem;
    height: 40px; }

.bg-primary {
  background: #383a98; }

.counter {
  margin-bottom: 30px; }
  .counter .counter-step {
    display: inline-block; }
  .counter .number {
    width: 25px;
    height: 25px;
    font-size: 16px;
    padding-top: 2px;
    color: #fff;
    text-align: center;
    background: #9B9B9B;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block; }
  .counter .line {
    width: 100px;
    height: 2px;
    display: inline-block;
    margin-bottom: 6px;
    margin-right: -3px;
    background: #9B9B9B; }
  .counter .active .number {
    background: #383a98; }
  .counter .active .line {
    background: #383a98; }

.lds-roller {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  padding: 40%; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #383a98;
  margin: -3px 0 0 -3px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=caucion.css.map */
