

.projects_holder.standard article .portfolio_description,
.projects_holder.standard_no_space article .portfolio_description {
padding-top: 25px;
}

.footerList {
    width: 80%;
    margin: 0 auto;
}
.footerList li {
    display: inline-block;
    width: 49%;
    margin: 7px 0px 2px;
}
.footerList li a {
    color: white;
    font-size: 15px;
}
.footerList li a:hover{
color:#79c6cc;
}
.footer_top {
    padding: 30px 0 30px;
}
.qbutton.white {
font-family: 'Roboto Slab';
    font-weight: 800!important;
}
.carousel-control .next_nav, .carousel-control .prev_nav {
	background:transparent;
}

.carousel-control span span {
    font-size: 50px;
}
.carousel-control .next_nav:hover,.carousel-control .prev_nav:hover{
    background-color:transparent;
    color: #ddd;
}


.q_logo {
    top: 0px;
    padding: 18px 0px;
    display: inline-block;
    width: auto;
}
.q_logo img {
	top: inherit;	
}


nav.main_menu > ul {
	padding: 37px 0px 23px;
    height: auto;
    display: inline-block;
}
nav.main_menu > ul > li{

}
nav.main_menu > ul > li > a{
    color: white;
    text-transform: none;
    letter-spacing: 0px;
    font-size: 15px;
    line-height: 20px!important;
    padding: 0px 12px;
    border-right: 1px solid #5BC6CC;
}

nav.main_menu > ul > li:last-child > a {
    border-right: 0px;
}

nav.main_menu > ul > li > a:hover {
	color:#79c6cc!important;
}

.title {
	background: transparent;
}

.title h1 {
	letter-spacing: 0px;	
}

.q_icon_with_title {
    display: flex;
    position: relative;
    height: 80px;
    align-items: center;
}
div.icon_text_holder p  {
    color: #4F4F4F;
    font-weight: 700;
}

h2.tituloContacto {
    color: #383A98;
    letter-spacing: 0px;
    font-size: 30px;
    font-weight: 700;
	margin-bottom: 100px;
}
h4.tituloContacto {
	color: #383A98;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: initial;
}

.contact_section {
    padding: 0 0 0px;
}



/* NAV MOBILE */
nav.mobile_menu {
    float: left;
    top: 0;
    text-align: left;
    overflow: hidden;
    background-color: transparent;
    z-index: 100;
}
nav.mobile_menu ul li a, nav.mobile_menu ul li h4 {
    font-size: 13px;
    color: white;
    padding: 9px 0;
    font-weight: 700;
    display: block;
    position: relative;
    text-transform: none;
    line-height: 17px;
    letter-spacing: 0;
}

nav.mobile_menu ul li {
    margin: 0;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #5BC6CC;
}

nav.mobile_menu ul>li.has_sub>span.mobile_arrow {
	color: #5BC6CC;	
}

nav.mobile_menu ul>li>span.mobile_arrow {
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding: 0 10px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    width: 50px;
    color: #5BC6CC;	
    z-index: 9000;
    -webkit-tap-highlight-color: transparent;
}

nav.mobile_menu ul>li>span.mobile_arrow i {
    display: inline;
}

nav.mobile_menu ul>li>span.mobile_arrow i.fa-angle-down {
	display: none;
}

header:not(.with_hover_bg_color) nav.main_menu>ul>li:hover>a, nav.main_menu>ul>li.active>a {
    color: #5BC6CC;
}

.nosotrosTextUno p {
    font-size: 18px;
    color: #4F4F4F;
    padding: 0px 0px 30px;
}

.nosotrosTextDos p {
    font-size: 18px;
    color: white;
    padding: 0px 0px 30px;
}
.nosotrosTextDos h2 {
	text-transform: initial;
    color: white;
    letter-spacing: 0px;
    font-size: 42px;
    font-weight: 700;	
}
.nosotrosTextTres p {
    color: #4F4F4F;
    font-size: 16px;
}
.nosotrosTextTres h5 {
	color: #383A98;
    letter-spacing: 0px;
    margin-top: 50px;
}
.nosotrosTextTres h5:after {
    content: '•••';
    color: #79C6CC;
    font-size: 13px;
    letter-spacing: 4px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -6px;
    margin-left: 6px;
}
h2.nosotrosTextTres {
	color: #383A98;
	letter-spacing: 0px;	
}
.nosotrosTextCuatro h3 {
    color: white;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;	
    text-align: center;
    margin: 30px 0px;
}
.nosotrosTextCuatro h3.resaltado {
	    color: white;
    font-size: 31px;
    font-style: normal;
    font-weight: 800;
}
.cajaServicio {
	text-align: center;
}
.cajaServicio img {
	text-align: center;
    margin: 0 auto 20px;
    display: block;	
	width: inherit!important;
}
.cajaServicio .coverh1 {
	display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 40px;
}
.cajaServicio .coverh1 h1 {
color: #38379e;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 25px;
    margin-bottom: 5px;
	width: 80%;
}
.cajaServicio span.separador {
    color: #38379e;
    font-size: 15px;
    letter-spacing: 4px;	
}
.cajaServicio .coverh5 {
    display: flex;
    align-items: baseline;
    height: auto;
    min-height: 80px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.cajaServicio .coverh5 h5 {
	color: #4F4F4F;
    text-transform: none;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 20px;
    font-size: 16px;
    max-width: 80%;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.miCaja {
    background: transparent;
    color: #79C6CC;
    border-color: #79C6CC;
	font-weight: 800;
    font-family: 'Roboto Slab';	
}
.miCaja:hover {
	background-color: #79C6CC;
	border-color: #79C6CC;
	color: white;
}
h1.tituloCoberturas {
	    color: #38379e;
    font-size: 32px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 90px;
}
.dale12porciento {
	width: 12%;
}

.dale0porciento {
	width: 0px;
}

/* Menu Sidebar */
aside.sidebar .widget h4 {
    background-color: #38379e;
}
ul#menuSidebar {}
ul#menuSidebar li {}

ul#menuSidebar li a {	
	border-bottom: 2px solid white;	
    color: #383A98;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
	display: block;
}
ul#menuSidebar > li > a:hover:after {
    content: '•••';
    color: #3A3C9C;
    letter-spacing: 3px;
    float: right;
    font-size: 11px;
}

ul#menuSidebar > li > a:hover {
	font-weight: 700;
	border-bottom: 2px solid #FFD380;
}

ul#menuSidebar > li.activo > a {
	font-weight: 700;
	border-bottom: 2px solid #FFD380;
}
ul#menuSidebar > li.activo > a:after {
    content: '•••';
    color: #3A3C9C;
    letter-spacing: 3px;
    float: right;
    font-size: 11px;
}

/* Tiene Sub */

ul#menuSidebar li.tiene-sub {}
ul#menuSidebar li.tiene-sub ul {
	display: none;
	margin-top: 10px;    
}
ul#menuSidebar li.tiene-sub ul li {}


ul#menuSidebar li.tiene-sub ul li a {
    color: #4F4F4F;
    font-weight: 500;
    text-transform: none;
    position: relative;
}
ul#menuSidebar li.tiene-sub ul li.activo a {
    color: #4F4F4F;
    font-weight: 700;
    text-transform: none;
}
ul#menuSidebar li.tiene-sub ul li.activo a:before {
	content: '\f054';
    color: #4F4F4F;
    font-family: 'FontAwesome';
    font-size: 9px;
    position: absolute;
    left: -10px;
    top: 0px;
}

ul#menuSidebar li.tiene-sub ul li a:hover {
    color: #4F4F4F;
    font-weight: 700;
    text-transform: none;
}
ul#menuSidebar li.tiene-sub ul li a:hover:before {
	content: '\f054';
    color: #4F4F4F;
    font-family: 'FontAwesome';
    font-size: 9px;
    position: absolute;
    left: -10px;
    top: 0px;
}

/* Bread */
ul#bread {}
ul#bread li {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    color: #4F4F4F;
    position: relative;
    padding-right: 15px;
}
ul#bread li:after {
    content: '\f054';
    color: #4F4F4F;
    font-family: 'FontAwesome';
    font-size: 7px;
    position: absolute;
    top: 0px;
    right: 3px;
}
ul#bread li:last-child {
	font-weight: 700;
	text-decoration: underline;
}
ul#bread li:last-child:after {
	display: none;
}

ul#bread li a {}
ul#bread li a:hover {}


/* Internos */
.internos h4.icon_title {
	font-size: 25px;
    letter-spacing: 0px;
    margin-left: 15px!important;
}
.internos .q_icon_with_title.center .icon_text_holder {
    margin: 32px 0 0;	
}
.internos .icon_holder_inner img {
	width: 53px;
	height: 53px;
}

.internos .qbutton {
	font-family: 'Roboto Slab';
    font-weight: 800!important;	
}
.parrafoInterno p {
	color: #4F4F4F;
	font-size: 16px;
}


/* Minor Fixes */
.vc_pagination-color-grey.vc_pagination-style-flat .vc_pagination-trigger,
.vc_pagination-color-grey.vc_pagination-style-outline .vc_active .vc_pagination-trigger,
.vc_pagination-color-grey.vc_pagination-style-outline .vc_pagination-trigger:hover {
	background-color: #38379e;
	opacity:1;
}

.vc_pagination-color-grey.vc_pagination-style-outline .vc_pagination-trigger {
	border-color: #38379e;
    background-color: #38379e;
    opacity: 0.54;
}

.vc_general.vc_pagination .vc_pagination-trigger {
	height: 4px;
    width: 4px;
	margin: 5px 3px;
}

.carousel-indicators li {
	width: 10px;
    height: 10px;
}

/* Ken Burns */
@keyframes kenburns {
    0% {
      opacity: 1;
    }
    50% {
        transform: scale3d(1.04, 1.04, 1.04) translate3d(-1%, -1%, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

.title .not_responsive {
    display: block;
    overflow: hidden;
    margin-top: 91px;
    height: 215px;
}
.title img {
	width: inherit; /*100% pararesponsive*/
    animation: kenburns 20s infinite;
    max-width: inherit;
	top: -30%;
    left: -25%;
}

.drop_down .second.drop_down_start {
	display: none;
}
.lArrow, .rArrow {
	display: block;
    position: absolute;
    top: 50%;
    color: #7ec5cd;
    font-size: 40px;
    left: 50%;
	cursor: pointer;
	z-index: 9;
}
.lArrow {
	margin-left: -580px;
}
.rArrow {
	margin-left: 550px;
}

/* Slider de la Home*/


.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block!IMPORTANT;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block!IMPORTANT;
    border:0px solid black;
}
.owl-prev i, .owl-next i {
	color: #7ec5cd;
    font-size: 35px;	
}


.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; 
  margin-top: 50px;
  }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 3px;
      background: rgba(56, 58, 152, 0.54);
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #383A98; }


.q_icon_with_title .icon_text_holder .icon_title {
	text-align: left;
}


/* Responsive */

@media only screen and (max-width: 600px) {
	.cajaServicio{
	    margin-bottom: 100px;	
	}

	
	.footer_top {
	    padding: 82px 0 0px;
	}	
	footer .column2 {
		border-top: 1px solid #4b4dcc!important;
		border-bottom: 1px solid #4b4dcc!important;
		padding-top: 15px;
	}
	footer .column2 .separator, footer .column3 .separator {
	    margin-top:0px!important;
	}
	footer .footerList { width: 100%; }
	footer .footerList li { width: 100%; }

	.internos .icon_holder_inner img {
		width: auto;
		height: auto;
	}

	.wp-caption, img {
	    max-width: none!important;
	}

}

@media only screen and (max-width: 1000px) {
	
	.title .not_responsive {
	    display: block;
	    overflow: inherit;
	    margin-top: inherit;
	    height: inherit;
	    margin-bottom: 50px;
	}
	.title img {
	    width: 100%;
	    animation: none;
	    max-width: 100%;
	    top: inherit;
	    left: inherit;
	}

	.wp-caption, img {
	    max-width: none!important;
	}

}

@media only screen and (min-width: 1281px) {
	.title img {
		left: inherit;
	}
}
