@media only screen and (max-width: 1000px){
		.header_bottom {
		background-color: #383a98;
	}
			}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 300px;
		}
		
	}

@media only screen and (max-width: 480px){
	
			section.parallax_section_holder{
			height: auto !important;
			min-height: 300px;
		}
		
	}