


    body{
    	    	    	font-family: 'Nunito', sans-serif;
    	    	    	    	    }
            body,
		.wrapper,
        .content,
        .full_width,
		.content .container,
		.more_facts_holder{
        	background-color:#ffffff;
        }
    	h3, h6, .pagination ul li.active span, .pagination ul li > a.inactive, .subtitle, .blog_holder article .post_info, .comment_holder .comment .text .comment_date, .blog_holder.masonry .post_author, .blog_holder.masonry .post_author a, .blog_holder.masonry_full_width .post_author, .blog_holder.masonry_full_width .post_author a, .latest_post_holder .post_info_section span, .latest_post_holder .post_info_section a, .latest_post_holder .post_author, .latest_post_holder a.post_author_link, .projects_holder article .project_category, .portfolio_slides .project_category, .projects_masonry_holder .project_category, .testimonials .testimonial_text_inner p:not(.testimonial_author), .price_in_table .mark, body div.pp_default .pp_description, .side_menu .widget li,aside.sidebar .widget:not(.woocommerce) li, aside .widget #lang_sel ul li a, aside .widget #lang_sel_click ul li a, section.side_menu #lang_sel ul li a, section.side_menu #lang_sel_click ul li a, footer #lang_sel ul li a, footer #lang_sel_click ul li a, .header_top #lang_sel ul li a, .header_top #lang_sel_click ul li a, .header_bottom #lang_sel ul li a, .header_bottom #lang_sel_click > ul > li a,.single_links_pages span,.gform_wrapper .gsection .gfield_label,.gform_wrapper h2.gsection_title,.gform_wrapper h3.gform_title{
		    	font-family: 'Nunito', sans-serif;
	}
		


.header_bottom,
.header_top {
	background-color: rgba(56,58,152,1);
}




	.content .content_inner > .container > .container_inner,
	.content .content_inner > .full_width > .full_width_inner{
		padding-top: 0px;
	}

	.content .content_inner > .container > .container_inner.default_template_holder{
		padding-top: 44px;
	}

	@media only screen and (max-width: 1000px){
		.content .content_inner > .container > .container_inner,
		.content .content_inner > .full_width > .full_width_inner,
		.content .content_inner > .container > .container_inner.default_template_holder{
			padding-top: 0px !important;
		}
	}	



header.fixed.scrolled .header_bottom,
header.fixed.scrolled .header_top {
	background-color: rgba(56,58,152,1) !important;
}








.header_top{
	background-color: rgba(255,255,255,1);
}


header.sticky .header_top{
	background-color: rgba(0,0,0,1);
}



	.content{
		margin-top: 0;
	}

	.logo_wrapper,
	.side_menu_button,
	.shopping_cart_inner{
		height: 50px;
	}

			.content.content_top_margin{
			margin-top: 50px !important;
		}
		

	header:not(.centered_logo) .header_fixed_right_area {
	    line-height: 50px;
	}











	header.sticky .header_bottom,
	header.fixed.scrolled .header_bottom,
	header.fixed_hiding.scrolled .header_bottom{
		box-shadow: none; 
		-webkit-box-shadow: none;
	}



        @media only screen and (min-width: 1000px){
            header.fixed_hiding .q_logo a,
            header.fixed_hiding .q_logo{
                max-height: 38px;
            }
        }
    

	@media only screen and (max-width: 1000px){
		.q_logo a{
			height: 70px !important;
		}
	}	

	@media only screen and (max-width: 480px){
		.q_logo a{
			height: 70px !important;
		}
	}	

    .touch section.parallax_section_holder{
		height: auto !important;
		min-height: 300px;
		background-position: center top !important;
		background-attachment: scroll;
        background-size: cover;
	}
nav.main_menu > ul > li > a{
	line-height: 50px;
}


    .drop_down .second,
    .drop_down .narrow .second .inner ul li ul,
    .header_bottom .qode-login-register-widget.qode-user-logged-in .qode-login-dropdown
    {
        border: 0 !important;
    }
    .drop_down .narrow .second .inner ul li ul{
    	top: -14px;
    }


nav.main_menu > ul > li > a,
.header_bottom .qode-login-register-widget.qode-user-not-logged-in .qode-login-opener,
.header_bottom .qode-login-register-widget.qode-user-logged-in .qode-logged-in-user .qode-logged-in-user-inner > span{
			 font-size: 13px;     		 font-weight: 700; 		 letter-spacing: 2px; }



    nav.main_menu > ul > li:not(:first-child):before,
    header.stick_with_left_right_menu.sticky nav.main_menu.right_side > ul > li:not(:first-child):before{
                 font-size: 13px;     }

	nav.main_menu > ul > li:not(:first-child):before,
	header.stick_with_left_right_menu.sticky nav.main_menu.right_side > ul > li:not(:first-child):before,
	header.stick_with_left_right_menu.sticky nav.main_menu.right_side > ul > li:first-child:before{ 
		content: none; 
	}














	#respond textarea,
	#respond input[type='text'],
	#respond input[type='email'],
	.contact_form input[type='text'],
	.contact_form input[type='email'],
	.contact_form  textarea,
	.comment_holder #respond textarea,
	.comment_holder #respond input[type='text'],
	input.wpcf7-form-control.wpcf7-text,
	input.wpcf7-form-control.wpcf7-number,
	input.wpcf7-form-control.wpcf7-date,
	textarea.wpcf7-form-control.wpcf7-textarea,
	select.wpcf7-form-control.wpcf7-select,
	input.wpcf7-form-control.wpcf7-quiz,
    .qode-social-login-holder input[type="text"],
    .qode-social-login-holder input[type="email"],
    .qode-social-login-holder input[type="password"],
    .qode-social-register-holder input[type="text"],
    .qode-social-register-holder input[type="email"],
    .qode-social-register-holder input[type="password"],
    .qode-social-reset-password-holder input[type="text"],
    .qode-social-reset-password-holder input[type="email"],
    .qode-social-reset-password-holder input[type="password"],
    .qode-membership-input-holder .qode-membership-input{
				border: 1px solid #a7a6a6; 			}

	#respond textarea:focus,
	#respond input[type='text']:focus,
	#respond input[type='email']:focus,
	.contact_form input[type='text']:focus,
	.contact_form input[type='email']:focus,
	.contact_form  textarea:focus,
	.comment_holder #respond textarea:focus,
	.comment_holder #respond input[type='text']:focus,
	input.wpcf7-form-control.wpcf7-text:focus,
	input.wpcf7-form-control.wpcf7-number:focus,
	input.wpcf7-form-control.wpcf7-date:focus,
	textarea.wpcf7-form-control.wpcf7-textarea:focus,
	select.wpcf7-form-control.wpcf7-select:focus,
	input.wpcf7-form-control.wpcf7-quiz:focus,
    .qode-social-login-holder input[type="text"]:focus,
    .qode-social-login-holder input[type="email"]:focus,
    .qode-social-login-holder input[type="password"]:focus,
    .qode-social-register-holder input[type="text"]:focus,
    .qode-social-register-holder input[type="email"]:focus,
    .qode-social-register-holder input[type="password"]:focus,
    .qode-social-reset-password-holder input[type="text"]:focus,
    .qode-social-reset-password-holder input[type="email"]:focus,
    .qode-social-reset-password-holder input[type="password"]:focus,
    .qode-membership-input-holder .qode-membership-input:focus{
						border-color: #393939; 	}

	h2{
				font-size: 24px; 						font-weight: 700; 	    letter-spacing: 2px; 			}
	h2, h2 a{
			}		
	h3{
				font-size: 20px; 							    			}
	h3, h3 a{
			}
	h4{
				font-size: 14px; 		line-height: 26px; 				font-weight: 700; 	    letter-spacing: 1px; 		text-transform: uppercase; 	}
	h4,	h4 a{
		color: #9d9d9d; 	}
	h5{
				font-size: 17px; 							    			}
	h5,	h5 a{
			}
	h6{
				font-family: 'Raleway', sans-serif;
				font-size: 13px; 				font-style: normal;  		font-weight: 600; 		letter-spacing: 0px; 		text-transform: uppercase; 	}
	h6, h6 a{
			}






	blockquote h3, blockquote > p{
		color: #8b8b8b	}



	.title h1{
						font-size: 48px; 											}

	.subtitle{
    color: #ffffff;         font-size: 19px; 	    				}


























































































	.q_social_icon_holder.normal_social:hover .simple_social{
        color: #393939 !important;
    }


	.qbutton .button_icon.custom_icon_size,
	.qbutton.medium .button_icon.custom_icon_size {
		line-height: 40px;
	}
	.qbutton,
	.qbutton.medium,
	#submit_comment,
	.load_more a,
	.blog_load_more_button a,
	.blog_holder article .post_text a.more-link span{
		font-size: 12px;line-height: 40px;height: 40px;font-weight: 600;letter-spacing: 1px;	}
	
	.qbutton.large .button_icon.custom_icon_size {
		line-height: 50px;
	}
	.qbutton.large {
		font-size: 13px;line-height: 50px;height: 50px;font-weight: 700;padding-left: 40px;padding-right: 40px;	}
	
	#back_to_top > span{
		background-color: #38379e;	}
	
	#back_to_top:hover > span{
		background-color: #737373;	}
	






	.testimonials .testimonial_text_inner p:not(.testimonial_author):not(.testimonial_title){
		font-size: 22px;line-height: 30px	}

	.testimonials .testimonial_text_inner p.testimonial_author{
		font-size: 19px;line-height: 20px;letter-spacing: 1px	}






	.q_counter_holder span.counter{
					}
	.countdown-period{
						}





	.footer_top_holder{
		background-color:#383a98;
	}

	footer.footer_border_columns .qode_column{
		border-color:#4b4dcc;
	}

	.footer_top,
	.footer_top p,
    .footer_top span:not(.q_social_icon_holder):not(.fa-stack):not(.social_icon):not(.social_twitter):not(.q_font_elegant_icon),
    .footer_top li,
    .footer_top .textwidget,
    .footer_top .widget_recent_entries>ul>li>span{
		color: #79c6cc	}







	.footer_top .widget h4 {
		font-size: 16px;letter-spacing: 2px;font-weight: 700;text-transform: uppercase	}





	aside.sidebar .widget h4,
	.woocommerce aside.sidebar .widget h4{
		font-size: 13px	}








	.side_menu  {
	text-align: left;
	}








	.blog_holder article.format-link .post_text .post_text_inner, 
	.blog_holder article.format-quote .post_text .post_text_inner{
		background-color: #f8f8f8;
	}
	.blog_holder.masonry article.format-quote  .post_text_inner .qoute_mark,
	.blog_holder.masonry article.format-link .post_text .post_text_inner .link_mark,
	.blog_holder.masonry_full_width article.format-quote .post_text .post_text_inner .qoute_mark,
	.blog_holder.masonry_full_width article.format-link .post_text .post_text_inner .link_mark,
	.blog_holder article.format-link .post_text .post_text_inner .post_social .post_comments i, 
	.blog_holder article.format-link .post_text .post_text_inner .post_social .blog_like i,
	.blog_holder article.format-link .post_text .post_text_inner .post_social .social_share_holder > a > i,
	.blog_holder article.format-quote .post_text .post_text_inner .post_social .post_comments i, 
	.blog_holder article.format-quote .post_text .post_text_inner .post_social .blog_like i,
	.blog_holder article.format-quote .post_text .post_text_inner .post_social .social_share_holder > a > i{
		color: #f8f8f8;
	}


	.blog_holder article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_holder.masonry article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_holder.masonry_full_width article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_single.blog_holder article.format-link .post_content, 
	.blog_single.blog_holder article.format-quote .post_content{
		background-color: transparent;
	}

	.blog_holder article:not(.format-link):not(.format-quote) .post_text .post_text_inner{
		padding: 45px 0 0;
	}

	.blog_holder.masonry article:not(.format-link):not(.format-quote) .post_text .post_text_inner,
	.blog_holder.masonry_full_width article:not(.format-link):not(.format-quote) .post_text .post_text_inner{
		padding: 25px 0 5px;
	}

	.blog_holder.blog_single article .post_text .post_text_inner {
		padding: 30px 0 0;
	}

	.blog_single.blog_holder article.format-link .post_content, 
	.blog_single.blog_holder article.format-quote .post_content {
		padding: 0;
	}





    .carousel-inner .slider_content .slide_buttons_holder .qbutton.white{ 
    	color: #ffffff !important;	}
    .carousel-inner .slider_content .slide_buttons_holder .qbutton.white:hover{ 
    	color: #1e73be !important;background-color: #ffffff !important;border-color: #ffffff !important;	}

    .side_menu_button > a,
	.header_bottom  .qode-wishlist-widget-holder a,
    .mobile_menu_button span,
	.shopping_cart_header .header_cart i{
		color: #ffffff;	}

    .popup_menu .line,
    .popup_menu .line:after, .popup_menu .line:before{
        background-color: #ffffff;
    }

































		


    .portfolio_single.big-slider .portfolio_container, .portfolio_single.big-images .portfolio_container, .portfolio_single.gallery .portfolio_container{
        padding-left: 0px;
        padding-right: 0px;
    }












    .projects_holder.hover_text article .portfolio_title, .projects_masonry_holder article .portfolio_title, .portfolio_slides .portfolio_title{
    	color: #ffffff;font-family: Crete Round;font-size: 20px;line-height: 40px;font-style: italic;font-weight: 400;letter-spacing: 0px;text-transform: capitalize;    }
    
    .projects_holder.hover_text article .project_category, .portfolio_slides .project_category, .projects_masonry_holder .project_category{
    color: #ffffff;font-family: Raleway;font-size: 13px;line-height: 30px;font-style: normal;font-weight: 400;letter-spacing: 0px;text-transform: capitalize;    }
    








	.woocommerce input[type="text"]:not(.qode_search_field):not(.qty), .woocommerce-page input[type="text"]:not(.qode_search_field):not(.qty), .woocommerce input[type="email"],.woocommerce-page input[type="email"],.woocommerce-page input[type="tel"], .woocommerce textarea,.woocommerce-page textarea, .woocommerce input[type="password"], .woocommerce-page input[type="password"], .woocommerce .chosen-container.chosen-container-single .chosen-single, .woocommerce-page .chosen-container.chosen-container-single .chosen-single, .woocommerce-checkout .chosen-container.chosen-container-single .chosen-single, .woocommerce table.cart div.coupon .input-text, .woocommerce-page table.cart div.coupon .input-text, .woocommerce div.cart-collaterals .select2-container .select2-choice, .woocommerce-page div.cart-collaterals .select2-container .select2-choice, .woocommerce div.product .summary table.variations td.value select, .woocommerce-checkout .select2-container .select2-choice, .woocommerce-account .select2-container .select2-choice, .woocommerce-checkout .select2-container--default .select2-selection--single, .woocommerce-account .select2-container--default .select2-selection--single{
				border-color: #c9c9c9; 		color:#c9c9c9; 	}

	.woocommerce input[type="text"]:not(.qode_search_field):not(.qty), .woocommerce-page input[type="text"]:not(.qode_search_field):not(.qty), .woocommerce input[type="email"], .woocommerce-page input[type="email"],.woocommerce-page input[type="tel"], .woocommerce textarea, .woocommerce-page textarea, .woocommerce input[type="password"], .woocommerce-page input[type="password"], .woocommerce table.cart div.coupon .input-text, .woocommerce-page table.cart div.coupon .input-text, .select2-container .select2-choice, .woocommerce-checkout .select2-container--default .select2-selection--single, .woocommerce-account .select2-container--default .select2-selection--single, .woocommerce .chosen-container.chosen-container-single .chosen-single, .woocommerce-page .chosen-container.chosen-container-single .chosen-single, .woocommerce-checkout .chosen-container.chosen-container-single .chosen-single, .woocommerce select#pa_color, .woocommerce div.product .summary table.variations td.value select{
		border-width: 1px;
	}

	.woocommerce-page input[type="text"]::-webkit-input-placeholder,
	.woocommerce-page input[type="email"]::-webkit-input-placeholder,
	.woocommerce-page input[type="tel"]::-webkit-input-placeholder,
	.woocommerce-page textarea::-webkit-input-placeholder,
	.woocommerce-page input[type="password"]::-webkit-input-placeholder,
	.woocommerce table.cart div.coupon .input-text::-webkit-input-placeholder,
	.woocommerce-page table.cart div.coupon .input-text::-webkit-input-placeholder{
		color: #c9c9c9;
	}

	.woocommerce-page input[type="text"]:-moz-placeholder,
	.woocommerce-page input[type="email"]:-moz-placeholder,
	.woocommerce-page input[type="tel"]:-moz-placeholder,
	.woocommerce-page textarea:-moz-placeholder,
	.woocommerce-page input[type="password"]:-moz-placeholder,
	.woocommerce table.cart div.coupon .input-text:-moz-placeholder,
	.woocommerce-page table.cart div.coupon .input-text:-moz-placeholder{
		color: #c9c9c9;
	}

	.woocommerce-page input[type="text"]::-moz-placeholder,
	.woocommerce-page input[type="email"]::-moz-placeholder,
	.woocommerce-page input[type="tel"]::-moz-placeholder,
	.woocommerce-page textarea::-moz-placeholder,
	.woocommerce-page input[type="password"]::-moz-placeholder,
	.woocommerce table.cart div.coupon .input-text::-moz-placeholder,
	.woocommerce-page table.cart div.coupon .input-text::-moz-placeholder{
		color: #c9c9c9;
	}

	.woocommerce-page input[type="text"]:-ms-input-placeholder,
	.woocommerce-page input[type="email"]:-ms-input-placeholder,
	.woocommerce-page input[type="tel"]:-ms-input-placeholder,
	.woocommerce-page textarea:-ms-input-placeholder,
	.woocommerce-page input[type="password"]:-ms-input-placeholder,
	.woocommerce table.cart div.coupon .input-text:-ms-input-placeholder,
	.woocommerce-page table.cart div.coupon .input-text:-ms-input-placeholder{
		color: #c9c9c9;
	}

	.woocommerce input[type="text"]:not(.qode_search_field):not(.qty):focus,.woocommerce-page input[type="text"]:not(.qode_search_field):not(.qty):focus,
	.woocommerce input[type="email"]:focus,.woocommerce-page input[type="email"]:focus,
	.woocommerce-page input[type="tel"]:focus,
	.woocommerce textarea:focus,.woocommerce-page textarea:focus, 
	.woocommerce input[type="password"]:focus,.woocommerce-page input[type="password"]:focus,
	.woocommerce table.cart div.coupon .input-text:focus,.woocommerce-page table.cart div.coupon .input-text:focus{
		color: #393939; 				border-color: #393939; 	}

	.woocommerce-page input[type="text"]:focus::-webkit-input-placeholder,
	.woocommerce-page input[type="email"]:focus::-webkit-input-placeholder,
	.woocommerce-page input[type="tel"]:focus::-webkit-input-placeholder,
	.woocommerce-page textarea:focus::-webkit-input-placeholder,
	.woocommerce-page input[type="password"]:focus::-webkit-input-placeholder,
	.woocommerce table.cart div.coupon .input-text:focus::-webkit-input-placeholder,
	.woocommerce-page table.cart div.coupon .input-text:focus::-webkit-input-placeholder{
		color: #393939;
	}

	.woocommerce-page input[type="text"]:focus:-moz-placeholder,
	.woocommerce-page input[type="email"]:focus:-moz-placeholder,
	.woocommerce-page input[type="tel"]:focus:-moz-placeholder,
	.woocommerce-page textarea:focus:-moz-placeholder,
	.woocommerce-page input[type="password"]:focus:-moz-placeholder,
	.woocommerce table.cart div.coupon .input-text:focus:-moz-placeholder,
	.woocommerce-page table.cart div.coupon .input-text:focus:-moz-placeholder{
		color: #393939;
	}

	.woocommerce-page input[type="text"]:focus::-moz-placeholder,
	.woocommerce-page input[type="email"]:focus::-moz-placeholder,
	.woocommerce-page input[type="tel"]:focus::-moz-placeholder,
	.woocommerce-page textarea:focus::-moz-placeholder,
	.woocommerce-page input[type="password"]:focus::-moz-placeholder,
	.woocommerce table.cart div.coupon .input-text:focus::-moz-placeholder,
	.woocommerce-page table.cart div.coupon .input-text:focus::-moz-placeholder{
		color: #393939;
	}

	.woocommerce-page input[type="text"]:focus:-ms-input-placeholder,
	.woocommerce-page input[type="email"]:focus:-ms-input-placeholder,
	.woocommerce-page input[type="tel"]:focus:-ms-input-placeholder,
	.woocommerce-page textarea:focus:-ms-input-placeholder,
	.woocommerce-page input[type="password"]:focus:-ms-input-placeholder,
	.woocommerce table.cart div.coupon .input-text:focus:-ms-input-placeholder,
	.woocommerce-page table.cart div.coupon .input-text:focus:-ms-input-placeholder{
		color: #393939;
	}

	.woocommerce-page ul.products li.product, 
	.woocommerce ul.products li.product{
		text-align: center;
	}
















	.woocommerce ul.products li.product .add-to-cart-button,
	.woocommerce ul.products li.product .added_to_cart,
	.woocommerce .widget_price_filter .button, 
	.woocommerce-page .widget_price_filter .button,
	.woocommerce .widget_shopping_cart_content p.buttons a.button,
	.woocommerce .button,
	.woocommerce-page .button,
	.woocommerce button.button,
	.woocommerce-page button.button,
	.woocommerce-page input[type="submit"]:not(.qode_search_field),
	.woocommerce input[type="submit"]:not(.qode_search_field),
	.woocommerce ul.products li.product .added_to_cart{
		color: #393939;border-color: #393939	}
	.woocommerce ul.products li.product a.add_to_cart_button:hover,
	.woocommerce-page ul.products li.product a.add_to_cart_button:hover,
	.woocommerce ul.products li.product .added_to_cart:hover,
	.woocommerce-page ul.products li.product .added_to_cart:hover,
	.woocommerce .widget_price_filter .button:hover, 
	.woocommerce-page .widget_price_filter .button:hover,
	.woocommerce .widget_shopping_cart_content p.buttons a.button:hover,
	.woocommerce .button:hover,
	.woocommerce-page .button:hover,
	.woocommerce button.button:hover,
	.woocommerce-page button.button:hover,
	.woocommerce #submit:hover,
	.woocommerce ul.products li.product a.qbutton:hover,
	.woocommerce-page ul.products li.product a.qbutton:hover,
	.woocommerce ul.products li.product .added_to_cart:hover,
	.woocommerce-page input[type="submit"]:not(.qode_search_field):hover,
	.woocommerce input[type="submit"]:not(.qode_search_field):hover{
		background-color: #393939;border-color: #393939	}



	
	
	

	.woocommerce .product h2.product_title{
		font-size: 24px;letter-spacing: 1px;font-weight: 800	}


.woocommerce div.product .cart .quantity { height: px;line-height: px;}

.woocommerce .product .quantity .minus,
	                       .woocommerce .product .quantity .plus,
	                       .woocommerce .product .quantity input.qty { width: px;height: px;line-height: -2px;}


	.woocommerce.single-product button.single_add_to_cart_button,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a{
		color: #393939;background-color: transparent;border-color: #393939	}

    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a:after,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:after,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:after{
        }
	.woocommerce.single-product button.single_add_to_cart_button:hover,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a:hover,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:hover,
    .product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:hover{
		color: #ffffff;background-color: #393939;border-color: #393939	}

	.woocommerce div.product .summary p.price span.amount{
		font-size: 22px	}

	.woocommerce div.product div.upsells .related-products-title,
	.woocommerce div.product div.related .related-products-title{
		font-size: 14px;line-height: 26px;letter-spacing: 1px;font-weight: 700;text-transform: uppercase	}
	

	.q_tabs.boxed.woocommerce-tabs .tabs-container,
	.q_tabs.boxed.woocommerce-tabs .tabs-container{
		padding:35px 0;
		background-color: transparent;
	}
























	
	














