/* backend css */
#adminmenuwrap {
    position: relative !important;
}
.wp-picker-container {
position: relative;
}
.icon-picker-list li:before {
    display: none;
}
a:focus {
    outline: none !important;
    box-shadow: none;
}
.apmm-tab-container {
    font-family: Verdana;
}
.apmm-settings-main-wrapper {
    border: 1px solid #00c0ef;
    width: 75%;
    border-top: 0;
    background: #fff;
    /*margin: 25px auto 0;*/
    margin: 30px 15px;
}
.apmega_left_content_wrapper {
    font-size: 13px;
}
.apmm-header-section {
    background-color: #00c0ef;
    border-bottom: 5px solid #f7ae37;
    margin-right: 7px;
    padding: 20px;
    width: 100%;
    margin-top: 3px;
}
.ap_megamenu_header_left {
    font-size: 30px;
    color: #fff;
    display: inline-block;
    padding-top: 10px;
}
.apmm-version-wrap span {
    font-size: 12px;
}
.apmm-header-social-link {
    float: right;
}
.fb-like.fb_iframe_widget {
    display: inline-flex;
}
.apmm-header-social-link label {
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 15px !important;
}
.apmm-follow-us {
    color: #fff;
}
.apmm-message {
    width: 100%;
    margin: 0;
}
.apmm-tab-container {
    padding-top: 0;
    width: 100% !important;
    padding-bottom: 15px;
}
.col-xs-10.apmm-content {
    /*    background: #d9d9d9 none repeat scroll 0 0;
    border: 4px solid #d9d9d9;*/
    
    
    border-radius: 6px;
    margin-bottom: 13px;
    margin-right: 6px;
    padding: 18px;
    width: 82%;
    -webkit-box-shadow: 6px 8px 100px -37px rgba(15, 10, 15, 1);
    -moz-box-shadow: 6px 8px 100px -37px rgba(15, 10, 15, 1);
    box-shadow: 6px 8px 100px -37px rgba(15, 10, 15, 1);
}
.image_label {
    font-weight: normal;
    margin-top: 8px;
}
.image_label {
    cursor: pointer;
}
/* Image settings tab */

.apmm-image-section {
    line-height: 2em;
    padding-right: 30px;
    vertical-align: top;
    width: 30%;
}
.apmm_loader > img {
    float: right;
    margin-right: 8px;
    margin-top: -20px;
    width: 18px;
}
.apmm_list_title {
    color: #23282d;
    float: left;
    font-family: helvetica;
    font-size: 15px;
    font-weight: bold;
}
.apmm_button_section {
    float: left;
    margin-bottom: 12px;
    margin-left: 14px;
    margin-top: -6px;
}
/* Arrow preview */

.arrow_section {
    border: 1px solid #e2e2e2;
    margin-top: 12px;
    text-align: center;
    width: 39%;
}
.arrow_section > label {
    margin-top: 4px;
}
.arrow_type {
    font-size: 22px;
    margin-bottom: 3px;
}
.arrow_type i {
    width: 30px;
}
/* Arrow preview End*/

label.label_field {
    float: left;
    margin-right: 15px;
}
.color_picker_section.menu_bg_colorpicker > label {
    margin-right: 10px;
    margin-top: -9px;
}
input.menu_bar-padding {
    width: 18%;
}
.apmm_create_seciton td {
    width: 15%;
}
.description.left_note {
    width: 74%;
}
.description.right_note {
    width: 92%;
}
label.ap-mega_container-padding,
label.ap-mega_multiple_field {
    /*float: left;*/
    
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-right: 10px;
}
.label_field > span {
    display: none;
}
label.ap-mega_container-padding span,
label.ap-mega_multiple_field span {
    color: #aaa;
    display: block;
    font-size: 0.8em;
    margin: 0 0 2px 1px;
    text-transform: uppercase;
}
input.apmega-menu_bar_padding,
input.ap-mega_multiple_field,
input.apmega-widgets_padding {
    width: 52px;
    font-size: 0.9em;
    font-weight: normal;
    border-radius: 3px;
    border-color: #f7ae37;
    padding: 5px 10px;
}
.color_picker_section.topmenu_bg_colorpicker {
    float: left;
    margin-top: -20px;
}
input,
button,
select,
textarea {
    font-weight: normal;
}
form.apmm-theme-form h2 {
    border-bottom: 1px solid #e2e2e2;
}
.postbox.follow-scroll > h2 {
    background-color: #72777c;
    color: white;
    font-size: 11px;
}
.postbox.follow-scroll span {
    font-size: 14px;
}
.apmm_theme_settings .apmm-message {
    float: left;
    margin: 21px;
    width: 96%;
}
/* menu metabox nav nmenu page */

tr.wpmm_show_themes {
    margin-top: 3px;
    margin-bottom: 3px;
}
select.select_fields_wpmm,
select.wpmm_theme_type, 
select.apmmpro-menu-locations-lists{
    width: 100%;
}
.apmm_success {
    color: darkgreen;
    float: right;
    font-weight: bold;
    margin-top: -18px;
    width: 51%;
}
.wp_megamenu_enabled .wpmm_launch {
    background: #00c0ef;
    border-color: #00c0ef;
}
.menu-item-bar .menu-item-handle:hover .wpmm_launch {
    opacity: 1;
}
.wpmm_launch {
    background: #86e6fd none repeat scroll 0 0;
    border-color: #333;
    border-radius: 3px;
    border-width: 1px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: normal;
    height: auto;
    margin-left: 10px;
    opacity: 0;
    padding: 0 5px;
    transition: all 0.3s ease 0s;
    width: auto;
    position: absolute;
}
.wpmm_launch a.wpmm-menu-lightbox-ajax {
    color: white;
    font-size: 10px;
    text-decoration: none;
}
.wpmm_launch a.wpmm-menu-lightbox-ajax:hover {
    color: white;
    font-size: 10px;
    text-decoration: none;
}
.wpmm_launch::before {
    content: "";
    display: inline-block;
    font-family: dashicons;
    font-size: 10px;
    margin-right: 2px;
    vertical-align: bottom;
}
/* The Modal (background) */

.wpmm_menu_wrapper .wpmm_overlay {
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    display: none;
    /* Hidden by default */
    
    position: fixed;
    /* Stay in place */
    
    z-index: 9999;
    /* Sit on top */
    
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    
    height: 100%;
    /* Full height */
    
    overflow: auto;
    /* Enable scroll if needed */
    
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}
.wpmm_menu_wrapper .close_btn {
    color: #aaa;
    float: right;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: -15px;
    left: 11px;
}
.wpmm_menu_wrapper .close_btn:hover,
.wpmm_menu_wrapper .close_btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#wpmm_menu_settings_frame {
    background-color: #fefefe;
    border: 1px solid #888;
    left: 5%;
    margin: auto;
    padding: 20px;
    position: fixed;
    top: 10%;
    width: 88%;
    height: 515px;
    z-index: 9999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
/*@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}*/
/*@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}*/
/*nav menu hover section popup */

.wpmm_menu_wrapper .wpmm_main_container .wpmm_main_header {
    float: left;
    width: 98%;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    padding-bottom: 14px;
}
.settings_megamenu {
    float: left;
    padding: 2px;
    width: 21%;
    display: inline-block;
}
.settings_megamenu i.fa.fa-wrench {
    float: left;
    margin-right: 8px;
}
.wpmm_menu_wrapper .wpmm_main_container .wpmm_menu_title {
    float: left;
}
.wpmm_menu_wrapper .wpmm_main_container .tabs_left_section {
    float: left;
    width: 20%;
    position: relative;
    height: 424px;
    background: #fff;
    opacity: 1;
}
.tabs_left_section ul li {
    cursor: pointer;
}
.wpmm_menu_title i.fa.fa-bars {
    margin-right: 9px;
}
.wpmm_note {
    text-align: right;
    position: relative;
    top: -15px;
}
.wpmm_menu_wrapper .wpmm_main_container .wpmm_content_rtsection {
    padding: 20px;
    float: right;
    height: 442px;
    width: 80%;
    overflow: auto;
    box-sizing: border-box;
}
.wpmm_tabs {
    border: 1px solid #00c0ef;
    padding: 11px;
    border-right: 3px solid #f7ae37;
    text-align: right;
    background: #00c0ef;
    color: white;
}
.wpmm_tabs.active {
    background: white none repeat scroll 0 0;
    color: #72777c;
    border-right: 3px solid #00c0ef;
    position: relative;    
}
.wpmm_tabs.active:before {
    position: absolute;
    content: '';
    right: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #00c0ef;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
/*Tab 1: WP Mega Menu Settings Right section */
.main_top_section .wpmm_top_section,
.wpmm_mega_settings .wpmm_top_section,
#wpmm_menu_settings_frame .settings_title {
    box-sizing: border-box;
    border-bottom: 3px solid #f7ae37;
    background: #00c0ef;
    line-height: 1em;
    overflow-x: hidden;
    padding: 6px 11px;
    position: relative;
    color: #fff;
}
.wpmm_top_section .wpmm-add-widget-tool,
.wpmm_top_section .wpmm-add-widget-tool_by_grp {
    padding: 7px 9px;
    text-decoration: none;
    line-height: 0.9em;
    float: left;
    margin-right: 2px;
    display: block;
    visibility: visible;
    position: relative;
    cursor: pointer;
    border: 1px solid #f7ae37;
    background: #f7ae37;
    float: right;
}
.wpmm_top_section .wpmm-add-widget-tool:hover,
.wpmm_top_section .wpmm-add-widget-tool_by_grp:hover {
    background: #fbc670;
    color: #fff;
}
.wpmm-add-widget-tool i.fa.fa-plus,
.wpmm-add-widget-tool_by_grp i.fa.fa-plus {
    margin-right: 5px;
}
.wpmm_row_selection,
.wpmm_selection_type {
    float: left;
}
.wpmm_selection_type label,
.wpmm_selection_type {
    margin-right: 10px;
}
/* widget dispaly */

.wpmm_widget_iframe {
    background-color: #fefefe;
    border: 1px solid #888;
    left: 0%;
    margin: auto;
    padding: 9px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 260px;
    z-index: 9999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.4s;
    animation-name: animatebottom;
    animation-duration: 0.4s
}
@-webkit-keyframes animatebottom {
    from {
        bottom: -200px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}
@keyframes animatebottom {
    from {
        bottom: -200px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}
.widget_left_section {
    float: left;
    width: 20%;
    padding: 0 20px;
}
.wpmm_widget_iframe .widget_left_section ul li {
    padding-left: 25px;
    position: relative;
}
.wpmm_widget_iframe .widget_left_section ul li:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5.5px 0 5.5px 6px;
    border-color: transparent transparent transparent #f7ae37;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.wpmm_widget_iframe .widget_left_section ul li:hover:before {
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    left: 9px;
}
.widget_right_section {
    float: left;
    border: 1px solid #00c0ef;
    width: 76%;
}
.btn_close_me {
    border-bottom: 3px solid #f7ae37;
    padding: 11px;
    background: #00c0ef;
    color: #fff;
}
.btn_close_me span {
    float: right;
    cursor: pointer;
    /*margin-top: -12px;*/
    margin-top: -19px;
}
.btn_close_me span:hover {
    color: #ddd;
}
.title_widget_add i.fa.fa-wrench {
    margin-right: 7px;
}
.btn_close_me span i.fa.fa-close {
    margin-right: 7px;
}
.wpmm_widgte_middle_content {
    margin-left: 4px;
}
.wpmm_tabss {
    cursor: pointer;
    padding: 10px;
}
.widgetss_header {
    border-bottom: 3px solid #f7ae37;
    padding: 11px;
    background: #00c0ef;
    color: white;
}
.widget_right_section div.right_middle_widgets {
    padding: 9px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
}
.widget_left_section ul li {
    margin-bottom: 6px;    
}
.wpmm_tabss.active,
.wpmm_tabss:hover {
    background: #00c0ef;
    color: #fff;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.wpmm_tabss {
    color: #00c0ef;
    border: 1px solid #00c0ef;
    font-size: 12px;
}
.wpmm_meta_table {
    width: 28%;
}
.wpmm_widget-type-wrapper {
    border: 1px solid #cccccc;
    cursor: pointer;
    padding: 10px;
    background: #F8F8F8;
}
.right_middle_widgets ul li.wpmm_all_wp_widgets {
    box-sizing: border-box;
    width: 25%;
    padding: 0 5px;
    margin-bottom: 10px;
    float: left;
    top: 80px;
    left: 30px;
    right: 30px;
    bottom: 88px;
}
.right_middle_widgets ul li.wpmm_all_wp_widgets .wpmm_widget-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: #666;
    float: left;
    margin: -1px 0.5em 0 0;
}
.right_middle_widgets ul li.wpmm_all_wp_widgets h3 {
    margin: 0 0 7px 0;
    padding: 0;
    color: #222222;
    font-size: 13px;
}
.right_middle_widgets ul li.wpmm_all_wp_widgets p.widgets_description {
    font-size: 11px;
    min-height: 2.5em;
    line-height: 1.25em;
    display: block;
    overflow: hidden;
    color: #888888;
    white-space: pre-line;
        margin-top: -4px;
    margin-left: 30px;
}
.wpmm_add_components {
    background: #e2e2e2 none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    float: left;
    min-height: 325px;
    margin-top: 10px;
    padding-left: 3px;
    padding-right: 15px;
    width: 100%;
    padding-bottom: 10px;
}
/* widget columns width end */

.wpmm_add_components #wpmm_widgets_setup,
.wpmm_add_components .wpmm_widgets_setup {
    /*float: left;*/
    
    padding: 5px;
    width: 100%;
}
.wpmm_widget_area,.wpmm_widget_areaa {
    border: 5px solid black;
    box-sizing: border-box;
    color: #333;
    display: inline-block;
    font-size: 12px;
    margin: 0;
    transition: width 0.3s ease 0s;
    background: white none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    margin: 0 -2px;
    padding: 4px;
    width: 100%;
    vertical-align: top;
}
.widget_title {
    float: left;
    padding: 5px;
}
.widget_right_action {
    float: right;
    font-size: 14px;
    /*   margin-right: 14px;
       width: 60px;*/
}
.widget_right_action .wpmm_widget-contract .fa.fa-caret-left {
    font-size: 18px;
    margin-right: 6px;
    margin-top: 4px;
}
.widget_right_action .wpmm_widget-expand .fa.fa-caret-right {
    font-size: 18px;
    margin-left: 4px;
}
.wptitle {
    margin-left: 6px;
}
.wpmm_widget-action .fa.fa-pencil-square-o {
    font-size: 15px;
    margin-left: 4px;
}
.widget-cols {
    font-size: 11px;
}
.widget-cols {
    position: relative;
    top: -2px;
}
.wpmm_widget-action .fa.fa-pencil-square-o,
.widget_right_action .wpmm_widget-contract .fa.fa-caret-left,
.widget_right_action .wpmm_widget-expand .fa.fa-caret-right {
    cursor: pointer;
}
/* column changable with unit 2*/

#wpmm_widgets_setup[data-columns='3'] .wpmm_widget_area[data-columns='2'],
.wpmm_widgets_setup[data-columns='3'] .wpmm_widget_areaa[data-columns='2'] {
    width: 66.6%;
}
#wpmm_widgets_setup[data-columns='4'] .wpmm_widget_area[data-columns='2'],
.wpmm_widgets_setup[data-columns='4'] .wpmm_widget_areaa[data-columns='2'] {
    width: 50%;
}
#wpmm_widgets_setup[data-columns='5'] .wpmm_widget_area[data-columns='2'],
.wpmm_widgets_setup[data-columns='5'] .wpmm_widget_areaa[data-columns='2'] {
    width: 40%;
}
#wpmm_widgets_setup[data-columns='6'] .wpmm_widget_area[data-columns='2'],
.wpmm_widgets_setup[data-columns='6'] .wpmm_widget_areaa[data-columns='2'] {
    width: 33.3%;
}
#wpmm_widgets_setup[data-columns='7'] .wpmm_widget_area[data-columns='2'],
.wpmm_widgets_setup[data-columns='7'] .wpmm_widget_areaa[data-columns='2'] {
    width: 28.57%;
}
#wpmm_widgets_setup[data-columns='8'] .wpmm_widget_area[data-columns='2'],
.wpmm_widgets_setup[data-columns='8'] .wpmm_widget_areaa[data-columns='2'] {
    width: 25%;
}
/* column changable with unit 1*/

#wpmm_widgets_setup[data-columns='2'] .wpmm_widget_area[data-columns='1'],
.wpmm_widgets_setup[data-columns='2'] .wpmm_widget_areaa[data-columns='1'] {
    width: 50%;
}
#wpmm_widgets_setup[data-columns='3'] .wpmm_widget_area[data-columns='1'],
.wpmm_widgets_setup[data-columns='3'] .wpmm_widget_areaa[data-columns='1'] {
    width: 33.3%;
}
#wpmm_widgets_setup[data-columns='4'] .wpmm_widget_area[data-columns='1'],
.wpmm_widgets_setup[data-columns='4'] .wpmm_widget_areaa[data-columns='1'] {
    width: 25%;
}
#wpmm_widgets_setup[data-columns='5'] .wpmm_widget_area[data-columns='1'],
.wpmm_widgets_setup[data-columns='5'] .wpmm_widget_areaa[data-columns='1']{
    width: 20%;
}
#wpmm_widgets_setup[data-columns='6'] .wpmm_widget_area[data-columns='1'],
.wpmm_widgets_setup[data-columns='6'] .wpmm_widget_areaa[data-columns='1'] {
    width: 16.65%;
}
#wpmm_widgets_setup[data-columns='7'] .wpmm_widget_area[data-columns='1'],
.wpmm_widgets_setup[data-columns='7'] .wpmm_widget_areaa[data-columns='1'] {
    width: 14.28%;
}
#wpmm_widgets_setup[data-columns='8'] .wpmm_widget_area[data-columns='1'],
.wpmm_widgets_setup[data-columns='8'] .wpmm_widget_areaa[data-columns='1'] {
    width: 12.5%;
}
/* column changable with unit 3*/

#wpmm_widgets_setup[data-columns='4'] .wpmm_widget_area[data-columns='3'],
.wpmm_widgets_setup[data-columns='4'] .wpmm_widget_areaa[data-columns='3']{
    width: 75%;
}
#wpmm_widgets_setup[data-columns='5'] .wpmm_widget_area[data-columns='3'],
.wpmm_widgets_setup[data-columns='5'] .wpmm_widget_areaa[data-columns='3'] {
    width: 60%;
}
#wpmm_widgets_setup[data-columns='6'] .wpmm_widget_area[data-columns='3'],
.wpmm_widgets_setup[data-columns='6'] .wpmm_widget_areaa[data-columns='3'] {
    width: 50%;
}
#wpmm_widgets_setup[data-columns='7'] .wpmm_widget_area[data-columns='3'],
.wpmm_widgets_setup[data-columns='7'] .wpmm_widget_areaa[data-columns='3'] {
    width: 42.84%;
}
#wpmm_widgets_setup[data-columns='8'] .wpmm_widget_area[data-columns='3'],
.wpmm_widgets_setup[data-columns='8'] .wpmm_widget_areaa[data-columns='3'] {
    width: 37.5%;
}
#wpmm_widgets_setup[data-columns='4'] .wpmm_widget_area[data-columns='4'],
.wpmm_widgets_setup[data-columns='4'] .wpmm_widget_areaa[data-columns='4'] {
    width: 100%;
}
#wpmm_widgets_setup[data-columns='5'] .wpmm_widget_area[data-columns='4'],
.wpmm_widgets_setup[data-columns='5'] .wpmm_widget_areaa[data-columns='4'] {
    width: 80%;
}
#wpmm_widgets_setup[data-columns='6'] .wpmm_widget_area[data-columns='4'],
.wpmm_widgets_setup[data-columns='6'] .wpmm_widget_areaa[data-columns='4']{
    width: 66.6%;
}
#wpmm_widgets_setup[data-columns='7'] .wpmm_widget_area[data-columns='4'],
.wpmm_widgets_setup[data-columns='7'] .wpmm_widget_areaa[data-columns='4'] {
    width: 57.12%;
}
#wpmm_widgets_setup[data-columns='8'] .wpmm_widget_area[data-columns='4'],
.wpmm_widgets_setup[data-columns='8'] .wpmm_widget_areaa[data-columns='4']{
    width: 50%;
}
#wpmm_widgets_setup[data-columns='5'] .wpmm_widget_area[data-columns='5'],
.wpmm_widgets_setup[data-columns='5'] .wpmm_widget_areaa[data-columns='5']{
    width: 100%;
}
#wpmm_widgets_setup[data-columns='6'] .wpmm_widget_area[data-columns='5'],
.wpmm_widgets_setup[data-columns='6'] .wpmm_widget_areaa[data-columns='5']{
    width: 83.25%;
}
#wpmm_widgets_setup[data-columns='7'] .wpmm_widget_area[data-columns='5'],
.wpmm_widgets_setup[data-columns='7'] .wpmm_widget_areaa[data-columns='5']{
    width: 71.42%;
}
#wpmm_widgets_setup[data-columns='8'] .wpmm_widget_area[data-columns='5'],
.wpmm_widgets_setup[data-columns='8'] .wpmm_widget_areaa[data-columns='5']{
    width: 62.5%;
}
#wpmm_widgets_setup[data-columns='6'] .wpmm_widget_area[data-columns='6'],
.wpmm_widgets_setup[data-columns='6'] .wpmm_widget_areaa[data-columns='6']{
    width: 100%;
}
#wpmm_widgets_setup[data-columns='7'] .wpmm_widget_area[data-columns='6'],
.wpmm_widgets_setup[data-columns='7'] .wpmm_widget_areaa[data-columns='6']{
    width: 85.68%;
}
#wpmm_widgets_setup[data-columns='8'] .wpmm_widget_area[data-columns='6'],
.wpmm_widgets_setup[data-columns='8'] .wpmm_widget_areaa[data-columns='6']{
    width: 75%;
}
#wpmm_widgets_setup[data-columns='7'] .wpmm_widget_area[data-columns='7'],
.wpmm_widgets_setup[data-columns='7'] .wpmm_widget_areaa[data-columns='7']{
    width: 100%;
}
#wpmm_widgets_setup[data-columns='8'] .wpmm_widget_area[data-columns='7'],
.wpmm_widgets_setup[data-columns='8'] .wpmm_widget_areaa[data-columns='7']{
    width: 87.5%;
}
/* widget columns width end */

.settings_second-title {
    background: #0073aa;
    border: 1px solid #e2e2e2;
    text-align: center;
    height: 38px;
    color: white;
}
.settings_title h4,
.settings_second-title h4 {
    font-size: 14px;
    position: relative;
    margin: 0;
    padding: 9px 0px;
    font-weight: normal;
}
.wpmm_iconpicker {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}
.show_available_icons {
    background-color: #0073aa;
    width: 69.5%;
    position: relative;
    top: -28px;
    left: 160px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    padding: 8px;
    height: 232px;
    box-shadow: 10px 10px 5px #888888;
}
.show_available_icons .lists_icons .wpmm-col-one-fourth {
    height: 38px;
    font-size: 10px;
    float: left;
    cursor: pointer;
}
.show_available_icons .lists_icons .wpmm-col-one-fourth:hover a {
    background: white;
}
.show_available_icons .lists_icons .wpmm-col-one-fourth a {
    color: black;
}
.wpmm_show_choosed_icons i {
    font-size: 26px;
}
.wpmm_show_choosed_icons {
    border: 1px solid grey;
    width: 8%;
    text-align: center;
    background: grey;
    padding: 12px;
    color: white;
}
.show_available_icons .fa-hover a {
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    color: #222;
    width: 100px;
    border-radius: 4px;
}
.show_available_icons .fa-hover {
    text-align: left;
    font-size: 12px;
    padding: 10px;
}
a.active_icons {
    background: white;
}
.save_ajax_data {
    float: right;
}
.save_ajax_data span.saving_message {
    color: green;
    font-weight: bold;
}
.save_ajax_data > img {
    width: 21px;
    position: relative;
    top: 6px;
    left: -12px;
}
.widget-inner {
    display: none;
    float: left;
    width: 100%;
    background: white;
}
.wpmm_widget_area.wpmm_open .wpmm_widget_inner,
.wpmm_widget_areaa.wpmm_open .wpmm_widget_inner {
    display: block;
    background: white none repeat scroll 0 0;
    /*border: 1px solid #999;*/
    
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    margin-top: -1px;
    min-width: 240px;
    /*position: absolute;*/
    
    z-index: 1000;
}
.wpmm_widget_area .wpmm_widget_inner,
.wpmm_widget_areaa .wpmm_widget_inner {
    background: white none repeat scroll 0 0;
    display: none;
    float: left;
    width: 100%;
}
.wpmm_widget_inner {
    margin-top: 34px;
}
.wpmm_widget_area.wpmm_open .widget_main_top_section,
.wpmm_widget_areaa.wpmm_open .widget_main_top_section {
    border-bottom: 0 none;
    cursor: move;
    position: relative;
    z-index: 1001;
}
.wpmm_widget_inner form {
    margin-bottom: 30px;
    padding: 0 15px 15px;
}
.wpmm_widget_area[data-type="wpmm_menu_subitem"] .wpmm_widget-action {
    display: none;
}
.wpmm_widget_areaa[data-type="wpmm_menu_subitem"] .wpmm_widget-action {
    display: none;
}
#tab_wp_mega_menu .wpmm_add_components.disabled::after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}
/*pro multiple tab*/
.wpmm_mega_settings_multiple.disabled::after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}
.wpmm_mega_settings_multiple.disabled {
  opacity: 0.5;
  pointer-events: none;
}
/*pro multiple tab*/
#wpmm_widgets_setup.disabled,
.wpmm_add_components.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.icon-picker-container {
    margin-left: 47px;
    margin-top: -75px;
    position: fixed;
    width: 21%;
    z-index: 9999 !important;
}
.image_label {
    font-size: 13px;
}
.form-style-2 select {
    width: 234px;
}
.form-style-2-heading {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label {
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span {
    width: 34%;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 input.input-field {
    width: 48%;
}
.form-style-2 input.input-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus,
.form-style-2 .select-field:focus {
    border: 1px solid #0085ba;
}
.wpmegamenu-desc-row {
    clear: both;
    float: left;
    margin: 16px 0 6px;
}
.intergrate_menu .description {
    width: 178px;
}
.location_name em {
    font-size: 10px;
}
.icon-main {
    display: none;
}
.icon-main {
    border: 1px solid #e2e2e2;
    float: left;
    margin-top: 8px;
    width: 45%;
}
.icon {
    float: left;
    margin-left: 6px;
    padding: 10px;
}
.icon-main .genericon-icon,
.icon-main .dash-icon,
.icon-main .ico-moon,
.icon-main .line-icon {
    display: none;
    height: 200px;
    margin-top: -1px;
    padding: 20px;
}
.icon-main .font-awesome-icon {
    height: 200px;
    margin-top: -1px;
    padding: 20px;
}
.icon-preview {
    background: #f7f7f7 none repeat scroll 0 0;
    border-color: #ccc;
    box-shadow: 0 1px 0 #ccc;
    color: #555;
    vertical-align: top;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 13px;
    height: 31px;
    line-height: 26px;
    padding: 7px 8px 13px;
    width: 6%;
    text-align: center;
}
.icon:hover {
    cursor: pointer;
}
.icon-main .search_icons{
    height: 27px;
    margin: -53px 11px 5px 7px;
    width: 30%;
    float: right;
}

.select-icon {
    height: 29px;
    margin: 7px;
    padding: 6px;
    width: 28%;
}
    .icon-preview {
    background: #f7f7f7 none repeat scroll 0 0;
    border-color: #ccc;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #ccc;
    box-sizing: border-box;
    color: #555;
    cursor: pointer;
    float: left;
    font-size: 13px;
    height: 37px;
    line-height: 26px;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    width: 7%;
}

    .icon-main{
        display: none;
         border: 1px solid #e2e2e2;
        height: 331px;
        overflow-y: scroll;
        float: left;
          width: 100%;
    }

    .icon{
    border: 1px solid #e2e2e2;
    cursor: pointer;
    float: left;
    margin-bottom: 6px;
    margin-left: 6px;
    padding: 10px;
    text-align: center;
    width: 37px;
    }
    .icon-main .genericon-icon,
    .icon-main .dash-icon{
         display: none;
    }

    .icon:hover {
        background-color: #e2e2e2;
    }

/*
==================
new css for back-end
==================
*/
.apmm-tab-container .col-xs-10.apmm-content {
    box-shadow: none;
    border-radius: 6px 6px 0 0;
    border-color: #f1f1f1;
    width: 90%;
    margin: 0 auto;
    float: none;
    clear: both;
    top: -65px;
    padding: 12px 20px 20px;
    background: white none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    border-top: none;
}
.apmm-tab-container .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}
.apmm-tab-container .col-xs-2 {
    width: 100%;
    background: #404040;
    padding: 50px 80px;
    min-height: 220px;
}
.apmm-tab-container .tabs-left {
    padding-top: 0;
    border-right: none;
}
.apmm-tab-container .tabs-left li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}
.apmm-tab-container .tabs-left > li > a {
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 43px 15px 12px;
    font-size: 13px;
    text-align: center;
}
.apmm-tab-container .tabs-left > li.active > a,
.apmm-tab-container .tabs-left > li:hover > a {
    border:none;
}
.apmm-tab-container .nav-tabs > li.active > a,
.apmm-tab-container .nav-tabs > li:hover > a {
    background-color: #525252;
    color: #f7ae37;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.apmm-tab-container .tabs-left > li.active:before,
.apmm-tab-container .tabs-left > li:hover:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9.5px 9.5px 9.5px;
    border-color: transparent transparent #fff transparent;
    bottom: -32px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.apmm-tab-container .tabs-left li a:before {
    position: absolute;
    font-family: dashicons;
    left: 0;
    right: 0;
    font-size: 26px;    
}
.apmm-tab-container .tabs-left li a.tab_settings:before {
    content: "\f111";
    top: 5px;
}
.apmm-tab-container .tabs-left li a.sticky_settings:before {
    content: "\f480";
    top: 5px;
}
.apmm-tab-container .tabs-left li a.image_settings:before {
    content: "\f128";
    top: 5px;
}
.apmm-tab-container .tabs-left li a.shortcode_settings:before {
    content: "\f123";
    top: 5px;
}
.apmm-tab-container .tabs-left li a.import_settings:before {
    content: "\f316";
    top: 5px;
}
.apmm-tab-container .tabs-left li a.custom_css:before {
    content: "\f119";
    top: 5px;
}
.apmm-header1 {
    background: #00c0ef;
    color: #fff;
    margin-bottom: 9px;
    margin-top: 9px;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    border-bottom: 3px solid #f7ae37;
    position: relative;
}
.apmm-header1:before {
    position: absolute;
    font-family: dashicons;
    font-size: 15px;
    color: #fff;
    left: 10px;
}
.apmm-header1.wpmega-general:before {
    content: '\f111';
}
.apmm-header1.wpmega-sticky:before {
    content: '\f480';
}
.apmm-header1.wpmega-mob:before {
    content: '\f470';
}
.apmm-header1.wpmega-image:before {
    content: '\f128';
}
.apmm-header1.wpmega-icon:before {
    content: '\f348';
}
.apmm-header1.wpmega-shortcode:before {
    content: '\f123';
}
.apmm-header1.wpmega-import:before {
    content: '\f316';
}
.apmm-header1.wpmega-export:before {
    content: '\f317';
}
.apmm-header1.wpmega-css:before {
    content: '\f119'
}
/*
==========
selector css
==========
*/
.apmm-content .sbHolder {
    border: 1px solid #f7ae37;
    min-height: 35px;
    padding: 0 10px;
    position: relative;
    background: none;
    width: 50%;
    font-size: 13px;
    border-radius: 3px;
}
.apmm-content .sbHolder .sbSelector {
    line-height: 35px;
}
.apmm-content .sbSelector:link, .sbSelector:visited, .sbSelector:hover {
    color: #b2b2b2;
}
.apmm-content .sbOptions a:link, 
.apmm-content .sbOptions a:visited {
    color: #fff;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.apmm-content .sbOptions a:link:hover, 
.apmm-content .sbOptions a:visited:hover {
    color: #f7ae37;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.apmm-content .sbOptions {
    width: 100%;
    background: #2d8cbd;
    left: 0;
    right: 0;
    top: 50px !important;
    border-radius: 3px;
    border-color: #2d8cbd;
    overflow-y: visible;
    z-index: 999999;
    max-height: auto !important;    
}
.apmm-content  .sbOptions:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 12px 10px;
    border-color: transparent transparent #2d8cbd transparent;
    top: -10px;
    right: 15px;
}
.apmm-content .sbOptions li {
    padding: 0;
    margin-bottom: 0; 
}
.apmm-content .sbOptions li a {
    border-bottom: 1px solid #fff;
    padding: 10px 10px;
}
.apmm-content .sbOptions li:last-child a {
    border-bottom: none;
}
.apmm-content .sbToggle {
    background: #fff;
    display: block;
    height: 100%;
    outline: none;
    position: absolute;
    right: 1px;
    top: 0;
    width: 30px;
    z-index: 999;
}
.apmm-content .sbToggle:before {
    content: '\f347';
    position: absolute;
    font-family: dashicons;
    font-size: 13px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.apmm-content .sbToggle:hover {
    background: #fff; 
}
/*
=================
input text field
=================
*/
.apmega-value input[type="text"],
.apmega-value input[type="number"] {
    width: 50%;
    height: 35px;
    border-radius: 3px;
    border-color: #f7ae37;
    padding-left: 15px;
}
/*
===============
apmega-name css
===============
*/
.apmega_left_content_wrapper .apmega-name {
    line-height: 1.4;
    padding-bottom: 11px;
    padding-right: 30px;
    padding-top: 9px;
    vertical-align: top;
    width: 50%;
    font-size: 15px;
    padding-left: 30px;
    font-weight: 600;
    color: #000000;
}
.apmega_left_content_wrapper .apmega-name label {
    margin-bottom: 0;
}
.apmega_left_content_wrapper .apmega-name p {
    font-style: normal;
}
/*
==============
button css
==============
*/
.apmm-form-field .wp-core-ui .button,
.apmm-form-field .wp-core-ui .button-primary,
.apmm-form-field .wp-core-ui .button-secondary {
    height: auto !important;
}
.apmm-form-field #apmm-add-button,
.apmm-form-field #restore_settings_btn,
.wpmm-field .button-primary,
.apmm-settings-main-wrapper.apmm_theme_settings .apmm-tab-container a.button-primary,
.wpmm_content_rtsection form p.submit input[type="submit"],
.apmm-theme-form .meta-box-sortables.ui-sortable .postbox .button.button-primary {
    border: none;
    text-shadow: none;
    padding: 0 15px;
    transition: all ease 0.1s;
    -webkit-transition: all ease 0.1s;     
}
.apmm-form-field #apmm-add-button,
.wpmm-field .button-primary,
.apmm-settings-main-wrapper.apmm_theme_settings .apmm-tab-container a.button-primary,
.wpmm_content_rtsection form p.submit input[type="submit"] {
    background-color: #00c0ef;
    box-shadow: 0px 3px 0px 0px #03a8d0;
}
.apmm-form-field #restore_settings_btn,
.apmm-theme-form .meta-box-sortables.ui-sortable .postbox .button.button-primary {
    background-color: #f7ae37;
    box-shadow: 0px 3px 0px 0px #e7991b;
}
.apmm-form-field #apmm-add-button:active,
.apmm-form-field #apmm-add-button:hover,
.apmm-form-field #restore_settings_btn:active,
.apmm-form-field #restore_settings_btn:hover,
.wpmm-field .button-primary:active,
.wpmm-field .button-primary:hover,
.apmm-settings-main-wrapper.apmm_theme_settings .apmm-tab-container a.button-primary:active,
.apmm-settings-main-wrapper.apmm_theme_settings .apmm-tab-container a.button-primary:hover,
.wpmm_content_rtsection form p.submit input[type="submit"]:active,
.wpmm_content_rtsection form p.submit input[type="submit"]:hover,
.apmm-theme-form .meta-box-sortables.ui-sortable .postbox .button.button-primary:hover {
    transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    box-shadow: 0px 1px 0px 0px;
    transition: all ease 0.1s;
    -webkit-transition: all ease 0.1s;
}
.wpmm-field .button-primary:hover {
    background-color: #00c0ef;
}
/*
===============
toggle arrow view
===============
*/
.apmega-value .wp-mega-toggle {
    position: relative;
}
.apmega-value .menulistsicons_close,
.apmega-value .menulistsicons_open {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 100px;
    top: 5px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.apmega-value .menulistsicons_close:before,
.apmega-value .menulistsicons_open:before {
    content: '';
    position: absolute;
    left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #00c0ef transparent transparent;

}
.apmega-value .menulistsicons_close.list_open,
.apmega-value .menulistsicons_open.list_open {
    opacity: 1;
    visibility: visible;
    left: 60px;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}
.menulistsicons_close ul,
.menulistsicons_open ul {
    background: #00c0ef;
    border-radius: 4px;
    padding: 10px 10px 5px;
    max-width: 145px;
}
.menulistsicons_close ul li,
.menulistsicons_open ul li {
    display: inline-block;
    margin: 0 2px 6px;
    cursor: pointer;
    background: #fff;
    padding: 7px;
    border-radius: 3px;
    text-align: center;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}
.menulistsicons_close ul li:hover,
.menulistsicons_open ul li:hover {
    background: #e7e7e7;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}
.toggle_menu_icons {
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    background: #4ac802;
    border: 1px solid #4ac802;
    height: 36px;
    padding: 6px 6px;
    width: 36px;
    text-align: center;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    overflow: hidden;
    float: left;
}
.toggle_menu_icons:hover {
    background:none;
    color: #000;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}
/*
===============
checkbox toggle
===============
*/
.apmega_left_content_wrapper input[type="checkbox"],
.wpmm-switch input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.apmega_left_content_wrapper input[type="checkbox"] + label,
.wpmm-switch input[type="checkbox"] + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.apmega_left_content_wrapper input[type="checkbox"] + label,
.wpmm-switch input[type="checkbox"] + label {
    padding: 2px;
    width: 50px;
    height: 20px;
    background-color: #dddddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}
.apmega_left_content_wrapper input[type="checkbox"] + label:before,
.apmega_left_content_wrapper input[type="checkbox"] + label:after,
.wpmm-switch input[type="checkbox"] + label:before,
.wpmm-switch input[type="checkbox"] + label:after {
    display: block;
    position: absolute;
    content: "";
}
.apmega_left_content_wrapper input[type="checkbox"] + label:before,
.wpmm-switch input[type="checkbox"] + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}
.apmega_left_content_wrapper input[type="checkbox"] + label:after,
.wpmm-switch input[type="checkbox"] + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 24px;
    background-color: #dddddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s;
}
.apmega_left_content_wrapper input[type="checkbox"]:checked + label,
.wpmm-switch input[type="checkbox"]:checked + label {
    background-color: #4ac802;
}
.apmega_left_content_wrapper input[type="checkbox"]:checked + label:after,
.wpmm-switch input[type="checkbox"]:checked + label:after {
    margin-left: 18px;
    background-color: #4ac802;
}
.ap_megamenu-custom_metaBox .wpmm-switch input[type="checkbox"]:checked + label:after,
.wpmm_mega_settings .wpmm-switch input[type="checkbox"]:checked + label:after {
    margin-left: 21px;
}
/*
================
table css
================
*/
.apmega_left_content_wrapper > table {
    margin-bottom: 26px;
    width: 100%;
}
.apmm-settings-main-wrapper .description {
    font-weight: normal;
    font-size: 11px;
    font-style: normal;
}
.apmega_left_content_wrapper.image_settings table td {
    margin-bottom: 6px;
    display: block;
    float: left;
    width: 50% !important;
}
.apmega_left_content_wrapper.image_settings .description {
    padding-left: 22px;
}
.apmega_left_content_wrapper.image_settings table td.apmega-name p.description {
    padding-left: 0;
}
.apmega_left_content_wrapper.image_settings .wpmm-switch {
    margin-top: 20px;
}
/*
==================
css for shortcodes
==================
*/
.apmega_left_content_wrapper.shortcode_menu_location .apmega-name {
    width: 49%;
}
.apmega_left_content_wrapper.shortcode_menu_location .apmega-value {
    display: block;
    padding-top: 9px;
}
code.wpmegamenu-highlight-code,
div.menuname {
    background: #00c0ef;
    border-left: 4px solid #f7ae37;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    border-radius: 0;
    padding: 10px;
    transition: all 0.2s ease 0s;
    color: #fff;
    position: relative;
}
code.wpmegamenu-highlight-code:before,
div.menuname:before {
    content: '';
    position: absolute;
    left: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #f7ae37 transparent transparent;

}
.apmega_left_content_wrapper.shortcode_menu_location code.wpmegamenu-highlight-code p,
.apmega_left_content_wrapper.shortcode_menu_location div.menuname p {
    margin-bottom: 5px;
    font-size: 12px !important;
    color: #fff;
}
.apmega_left_content_wrapper.shortcode_menu_location code.wpmegamenu-highlight-code p:last-of-type,
.apmega_left_content_wrapper.shortcode_menu_location div.menuname p:last-of-type {
    margin-bottom: 0;
}
.apmega_left_content_wrapper.shortcode_menu_location .apmega-value .location_name > a,
.apmega_left_content_wrapper.shortcode_menu_location .apmega-value .location_name em > a {
    margin-left: 0;
    display: block;
    background: #4ac802;
    width: auto;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    padding: 5px;
    color: #fff;
    border-radius: 3px;
}
.apmega_left_content_wrapper.shortcode_menu_location .apmega-value .location_name em {
    font-style: normal;
    font-size: 13px;
}
.apmega_left_content_wrapper.shortcode_menu_location .apmega-value .location_name > a i {
    margin-right: 4px;
}
/*
=============
import section choose file
=============
*/
.apmega_left_content_wrapper.custom_theme_import .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.apmega_left_content_wrapper.custom_theme_import .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
}
.apmega_left_content_wrapper.custom_theme_import .fileUpload.btn-primary {
    background: #4ac802;
    border-color: #4ac802;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.apmega_left_content_wrapper.custom_theme_import .fileUpload.btn-primary:hover {
    background: none;
    color: #000;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s; 
}
.apmega_left_content_wrapper.custom_theme_import .apmega-value input:disabled {
    box-shadow: none;
    background: none;
    border: 1px solid;
    height: 35px;
    border-radius: 3px;
    padding: 0 10px;
}
/*
===================
Theme Setting css
===================
*/
.apmm-settings-main-wrapper.apmm_theme_settings table {
    border-color: #00c0ef;
}
.apmm-settings-main-wrapper.apmm_theme_settings .apmm-tab-container .col-sm-12 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}
.apmm-settings-main-wrapper.apmm_theme_settings th.sortable a, 
.apmm-settings-main-wrapper.apmm_theme_settings th.sorted a {
    color: #fff;
    background: #00c0ef;
    border-bottom: 3px solid #f7ae37;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    padding: 10px 12px;
}
.apmm-settings-main-wrapper.apmm_theme_settings th.sortable a:hover, 
.apmm-settings-main-wrapper.apmm_theme_settings th.sorted a:hover {
    color: #dfdfdf;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
/*
=======================
appearence menu setting
=======================
*/
#wpmm_menu_settings_frame .tabs_left_section ul {
    display: block;
    margin-top: 20px;
}
.wpmm_content_rtsection .wpmm_mega_settings table input[type="text"],
.wpmm_content_rtsection .wpmm_mega_settings table input[type="number"] {
    border: 1px solid #f7ae37 !important;
}
/*
====================
theme setting css
====================
*/
.container.apmm-tab-container .metabox-holder.columns-2 {
    margin-right: 0 !important;
}
.container.apmm-tab-container #poststuff {
    padding-top: 40px;
}
.apmm-theme-form .meta-box-sortables.ui-sortable .postbox {
    width: 95%;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.apmm-theme-form .postbox-container {
    float: none !important;
    position: absolute;
    right: 10px;
    margin-right: 0 !important;
    max-width: 30px;
}
.apmm-theme-form .postbox-container .postbox {
    box-shadow: none;
    border-color: #e5e5e5;
}
.apmm-theme-form .postbox-container .postbox.follow-scroll .inside {
    margin-top: 12px !important;
}
.apmm-theme-form .postbox-container .postbox.follow-scroll .inside .button {
    width: 100%;
} 
.apmm-theme-form .postbox-container .postbox.follow-scroll > h2 {
    display: none;
}
table.apmm_create_seciton {
    border: 0 none;
}
.apmm-theme-form .meta-box-sortables.ui-sortable .postbox p.apmm-info {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1.8;
}
.apmm-theme-form .meta-box-sortables.ui-sortable .apmm_info_section {
    background: #00c0ef;
    border-bottom: 3px solid #f7ae37;
    color: #fff;
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.apmm-theme-form .meta-box-sortables.ui-sortable .inside {
    margin: 25px 0 !important;
    padding: 0 25px;
}
.apmm-theme-form .meta-box-sortables.ui-sortable .postbox .inside .apmm-slideToggle {
    background-color: #fafafa;
    border: 1px solid #28b779;
    border-left: 4px solid #28b779;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    position: relative;
}
.apmm-theme-form .meta-box-sortables.ui-sortable .postbox .inside .apmm-slideToggle:before,
.apmm-theme-form .meta-box-sortables.ui-sortable .postbox .inside .apmm-slideToggle:hover:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #28b779 transparent transparent;
    left: -11px;
    top: 5px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.apmm-theme-form .meta-box-sortables.ui-sortable .postbox .inside .apmm-slideToggle:hover:before {
    border-color: transparent #f7ae37 transparent transparent;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.apmm-theme-form .meta-box-sortables.ui-sortable .postbox .inside .apmm-slideToggle:hover {
    border: 1px solid #f7ae37;
    border-left: 4px solid #f7ae37;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.apmm-theme-form .meta-box-sortables.ui-sortable .apmm-slideToggle .title_toggle {
    font-size: 14px;
    margin: 0;
    padding: 12px 18px;
}
.apmm-theme-form .meta-box-sortables.ui-sortable .apmm-Togglebox {
    border-color: #f7ae37;
    border-style: solid;
    border-width: 0 1px 1px;
    margin-bottom: 20px;
    padding: 20px 30px;
}
.apmm-theme-form .meta-box-sortables.ui-sortable .apmm-slideToggle {
    margin-top: 11px;
}
/*
====================
color selector css
====================
*/
.wp-color-result {
    height: 24px;
}
.wp-picker-container .iris-picker {
    /*position: absolute;*/
        z-index: 999;
    width: 283px !important;

}
/*
==========================
column area width css
==========================
*/

.wpmm-image-url {
    width: 62%;
}
.wpmm-option-field.wpmm-image-preview {
    margin-top: 5px; }

.wpmm-image-url {
   width: 62%;
}
.wpmm-option-field.wpmm-image-preview {
   margin-top: 5px;
}
/*
===========
table for text and image section
===========
*/
.toggle_topimage_withtext .wpmm-option-field .wpmm-row,
.toggle_bimage_withtext .wpmm-option-field .wpmm-row {
    display: block;
    margin-bottom: 5px;
}
.toggle_topimage_withtext .wpmm-option-field .wpmm-row label,
.toggle_bimage_withtext .wpmm-option-field .wpmm-row label {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.toggle_topimage_withtext .wpmm-option-field .wpmm-row input[type="text"],
.toggle_topimage_withtext .wpmm-option-field .wpmm-row input,
.toggle_topimage_withtext .wpmm-option-field .wpmm-row textarea,
.toggle_topimage_withtext .wpmm-option-field .wpmm-row select,
.toggle_bimage_withtext .wpmm-option-field .wpmm-row input[type="text"],
.toggle_bimage_withtext .wpmm-option-field .wpmm-row input,
.toggle_bimage_withtext .wpmm-option-field .wpmm-row textarea,
.toggle_bimage_withtext .wpmm-option-field .wpmm-row select {
    display: inline-block;
    vertical-align: middle;
    border:1px solid #ddd !important;
    width: 50%;    
}
.toggle_topimage_withtext .wpmm-option-field .wpmm-row input[type="button"],
.toggle_bimage_withtext .wpmm-option-field .wpmm-row input[type="button"],
.toggle_topimage .wpmm-option-field input[type="button"],
.toggle_bimage .wpmm-option-field input[type="button"], 
.toggle_custom_image .wpmm-option-field input[type="button"] {
    width: auto;
    border: 1px solid #f7ae37 !important;
    background: #f7ae37;
    box-shadow: none;
    text-shadow: none;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;    
}
.toggle_topimage_withtext .wpmm-option-field .wpmm-row input[type="button"]:hover,
.toggle_custom_image_withtext .wpmm-option-field .wpmm-row input[type="button"]:hover,
.toggle_topimage .wpmm-option-field input[type="button"]:hover,
.toggle_custom_image .wpmm-option-field input[type="button"]:hover {
    background: none;
    color: #f7ae37;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;    
}
.toggle_topimage_withtext .wpmm-option-field .wpmm-row input,
.toggle_topimage_withtext .wpmm-option-field .wpmm-row select,
.toggle_bimage_withtext .wpmm-option-field .wpmm-row input,
.toggle_bimage_withtext .wpmm-option-field .wpmm-row select {
    height: 35px;
    padding: 0 10px;
}

.wpmm_menu_align {
    float: left;
    margin-right: 7px;
}

/*.form-style-2 > textarea#wpmm-generated-shortcode {
    float: left;
    margin-left: 28px;
}
*/
/*.form-style-2 > div#wpmm-message {
    color: red;
    float: left;
    font-family: Verdana;
    font-size: 13px;
    margin-left: 28px;
}*/

/* about us page */
.wpmm-unstyled {
    list-style: outside none none;
}
.wpmm-about.wpmm-inlinelist li{
 display: inline-block;
    transition: all 0.3s ease-in-out 0s;
}
.wpmm-about li:hover {
    transform: translate3d(0px, -4px, 0px);
}

.wpmm-row {
    margin-left: -10px;
    margin-right: -10px;
}

[class*="wpmm-col-"] {
    box-sizing: border-box;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.wpmm-col-one-third {
    width: 33.3333%;
}
.apmm-settings-main-wrapper.how_to_use_page .container {
    max-width: 100%;
}
.apmm-settings-main-wrapper.how_to_use_page .container .col-sm-9 {
    width: 100%;
}

.apmm-theme-form .postbox {
    min-width: 270px;
}

/* pro version new designs*/
.multiple_button{
    float: right;
}
.wpmm-add-form-wrap{
background-color: #fff;
padding: 20px;
position: fixed;
right: 32%;
top: 25%;
width: 500px;
z-index: 999;
}
.wpmm-overlay{
background-color: #222;
height: 100%;
left: 0;
opacity: 0.75;
position: fixed;
top: 0;
width: 100%;
}
.wpmm-add-form-wrap label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.wpmm-field {
  display: inline-block;
}
.wpmm-field input[type="text"], .wpmm-field textarea {
  width: 282px;
}
.wpmm-field-note {
  font-style: italic;
  margin-bottom: 25px;
  padding: 5px;
}

span.wpmm-ajax-loader {
  background: rgba(0, 0, 0, 0) url("../images/ajaxloader.gif") no-repeat scroll center center;
  display: inline-block;
  height: 16px;
  margin-left: 10px;
  width: 16px;
}

.wpmm-groups-lists {
  border-bottom: 1px solid #bbb;
  display: inline-block;
  width: 100%;
  margin-top: -2px;
}

ul.wpmm-groups-lists li.wpmm-group-trigger {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #eee none repeat scroll 0 0;
  border-color: #bbb #bbb -moz-use-text-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px 0;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0;
  padding: 10px;
}

.wpmm_group_add_components {
    background: #e2e2e2 none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    float: left;
    min-height: 325px;
    margin-top: -13px;
    padding-left: 3px;
    padding-right: 15px;
    width: 100%;
    padding-bottom: 10px;
}

.wpmm_middle_section {
  left: 343px;
  position: absolute;
  top: -1px;
}

.wpmm_middle_section h3 {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.button.button-primary.wpmm-group-remover {
  margin-right: 7px;
}

.wpmm-group-col {
  font-size: 10px;
  color: lightslategray;
}


 .toggle_logo_image .wpmm-option-field input[type="button"]{
  background: #f7ae37 none repeat scroll 0 0;
  border: 1px solid #f7ae37 !important;
  box-shadow: none;
  text-shadow: none;
  transition: all 0.3s ease 0s;
  width: auto;
}

 .toggle_logo_image .wpmm-option-field input[type="button"]:hover,
  .toggle_logo_image .wpmm-option-field input[type="button"]:hover,
   .toggle_woo_cart_total .wpmm-option-field input[type="button"]:hover,
  .toggle_woo_cart_total .wpmm-option-field input[type="button"]:hover {
    background: none;
    color: #f7ae37;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;    
}

.remove_logo_image{
  border-radius: 5px;
  float: right;
  margin: -12px -32px 0 0;
}

 .remove_custom_image_url {
  float: right;
  margin: -7px -19px 0 0;
}

.wpmm-option-field.wpmm-image-preview2{
  margin-top: 7px;
  padding: 10px;
   width: 38%;
 }
.wpmm-option-field.wpmm-image-preview3 {
  padding: 10px;
   width: 5%;
 }


input.custom-logo-size{
width: 20%;
}
/* Woo Cart Replacement Icon*/
input.custom-cart-icon-size{
width: 20%;
}
.wpmm-carticon-lists {
  background: #e2e2e2 none repeat scroll 0 0;
  padding: 8px 9px 1px;
  width: 67%;
}
.wpmm-carticon-lists .description {
  text-align: center;
}

.wpmm-carticon-lists .fa.fa-shopping-cart,
.wpmm-carticon-lists .fa.fa-cart-plus,
.wpmm-carticon-lists .fa.fa-cart-arrow-down {
  color: #7B7B7B;
    font-size: 24px;
}

ul.wpmm-groups-lists li.wpmm-group-trigger.wpmm-grp-active-trigger {
    background-color: #00c0ef;
    border-color: #00c0ef;
    color: white;
}
ul.wpmm-groups-lists li.wpmm-group-trigger.wpmm-grp-active-trigger span {
    color: white;
}

.wpmm-option-field.wpmm-bgimage-preview {
  margin: 9px;
}

.wpmm-option-field {
  margin-top: 12px;
}
/*
==========================
resposive for backend
==========================
*/
@media (max-width: 1440px) {
    .apmm-tab-container .tabs-left li {
        margin-right: 0;
    }
    .apmm-settings-main-wrapper {
        width: 85%;
    }
}
@media (max-width: 1380px) {
    .apmm-settings-main-wrapper {
        width: 79%;
    }
}
@media (max-width: 1185px) {
    .apmm-settings-main-wrapper {
        width: 97%;
        margin: 25px 0 0;
    }
}
@media (max-width: 1185px) {
    .apmm-tab-container .tabs-left > li > a {
        padding: 43px 6px 12px;
        font-size: 11px;
    }
}
@media (max-width: 835px) {
    .apmm-tab-container .tabs-left > li > a {
        font-size: 11px;
    }
    .apmm-tab-container .tabs-left > li.active::before, 
    .apmm-tab-container .tabs-left > li:hover::before {
        bottom: -35px;
    }
}
@media (max-width: 768px) {
    .apmm-tab-container .tabs-left > li.active::before, 
    .apmm-tab-container .tabs-left > li:hover::before {
        display: none;
    }
    .apmm-tab-container .col-xs-2 {
        padding: 20px 37px 50px;
    }
    .apmm-tab-container .tabs-left li {
        display: block;
        margin-bottom: 5px;
    }
    .apmm-tab-container .tabs-left > li > a {
        text-align: left;
        padding: 16px 55px 12px;
    }
    .apmm-tab-container .tabs-left li a::before {
        left: 16px;
    }
    .apmm-tab-container .col-xs-10.apmm-content {
        top: -40px;
    }
    .apmega_left_content_wrapper .apmega-name {
        padding: 9px 10px 11px;       
    }
    .apmm-content .sbHolder {
        width: 96%;
    }
    .apmm-form-field #apmm-add-button, 
    .apmm-form-field #restore_settings_btn, 
    .wpmm-field .button-primary, 
    .apmm-settings-main-wrapper.apmm_theme_settings .apmm-tab-container a.button-primary, 
    .wpmm_content_rtsection form p.submit input[type="submit"], 
    .apmm-theme-form .meta-box-sortables.ui-sortable .postbox .button.button-primary {
        padding: 7px 15px;
        line-height: 1;
    }
}
@media (max-width: 480px) {
    .apmega_left_content_wrapper .apmega-name {
        display: block;
        width: 100%;
        float: left;
    }
    .apmega-value {
        float: left;
        width: 100%;
    }
    .apmm-content .sbHolder {
        width: 100%;
    }
    .apmega_left_content_wrapper.image_settings table td {
        width: 100% !important;
    }
    .apmega_left_content_wrapper.shortcode_menu_location .apmega-name {
        width: 100%;
    }    
}
/*
===========
end
===========
*/

.wpmm-group-column-editer {
  left: 9px;
  position: relative;
  top: -32px;
}


#apmegamenu_accordion h3 {
  background-color: grey;
  color: white;
  cursor: pointer;
  margin: 4px;
  padding: 6px;
}

/*
* How to use Page CSS
*/
h4.wpmm_use_menusettings,
h3.wpmm_use_menusettings {
  background: #00c0ef none repeat scroll 0 0;
  color: white;
  padding: 9px;
}

.prosettingslists strong {
  background: #f7ae37 none repeat scroll 0 0;
  color: white;
  margin-left: 11px;
  padding: 6px;
}

.prosettingslists ul {
  margin-top: 11px;
}

.prosettingslists p {
  margin-left: 16px;
}

.groupwisesettings strong {
  margin-left: 31px;
}

.groupwisesettings p {
  margin-left: 35px;
}
p.imp_note{
    font-weight: bold;
}

.wpmm-second-lists {
    margin-left: 26px;
    margin-top: 7px;
}
/*=======
=======*/
.wpmm-section .left-section-styling,
.wpmm-section .rt-section-styling {
    display: inline-block;
    vertical-align: top;
}
.wpmm-section .rt-section-styling {
    margin-left: 15px;
}

#wpmm_menu_settings_frame .siteorigin-widget-form.siteorigin-widget-form-main {
    min-width: 40% !important;
}
h5.tabbed-label-design{
    border: 1px solid #ceccb5;
    padding: 8px;
    background-color: #f7ae37;
    color: #ffffff;
    font-weight: normal;
}
.apmega_left_content_wrapper.export_demo{
        padding: 36px;
}
.ap_megamenu-custom_metaBox input#submit {
    margin: 0px;
    width: 69px;
    height: 28px;
    font-size: 15px;
}
.wpmm_widget_area textarea{
    width: 100%;
}
.wpmm_widget_area .wpmm_widget_inner .wpmm-image{
    width: 125px !important;
    margin-top: 13px;
    margin-left: 85px;
    display: block;
}

li.wpmega-icommon {
    margin: 3px 3px !important;
}
li.wpmega-icommon a {
    border: none !important;
    padding: 1px 2px !important;
}
.icon-picker-container ul {
    margin-top: 8px;
}
.icon-picker-container ul li.wpmega-icommon a:hover{
    background: none !important;
}